<?php
echo '<div id="belt"><div class="cen home">';
   echo $this->element('search_home');
   if(!$session->check('Auth.User')) 
      echo $this->element('user_login');
   else
      echo $this->element('user_menu');
echo '</div></div>';
?>
<script type="text/javascript">
//search
$('#DemandSearch').click(function() {
   if ($(this).val() == '<? echo __('Search ...', true) ?>') {
      $(this).val('');
   }
});
</script>