<?php
echo '<div id="belt"><div class="cen register">';
   if (!isset($user_card)) {
      echo $html->div('swi com act', __('Company account registration', true));
      echo $html->div('swi usr', __('User account registration', true));
   }
   else {
      echo $html->div('swi com', __('Company account registration', true));
      echo $html->div('swi usr act', __('User account registration', true));
   }
   if($session->read('Auth.User'))
      echo $this->element('user_menu');
echo '</div></div>';
?>