<?php
echo '<div id="flash">';
   echo '<div class="top"></div>';
   echo '<div class="con">'.$message.'<br/><span>'.__('Click anywhere to close this window.', true).'</span></div>';
   echo '<div class="bot"></div>';
echo '</div>';
?>

<script type="text/javascript">
$(document).ready(function(){
   $('#flash').css({top: tp, left: lf});  
   $('#flash').click(function(e) {$(this).hide(); e.stopPropagation();});
   
   $(document).click(function(){$('#flash').hide();});
   
});
</script> 