<div id="logo">
	<?php echo $html->image('logo-ezbizi.png', array('class' => ''));?>
</div>
<div id="catsearch">
<form>
<select name="categorydrop" class="categorydrop">
<option selected>Browse by Business Category</option>
<option>Business Cat 1</option>
<option>Business Cat 2</option>
<option>Business Cat 3</option>
<option>Business Cat 4</option>
<option>Business Cat 5</option>
<option>Business Cat 6</option>
<option>Business Cat 7</option>
<option>Business Cat 8</option>
</select>

<input name="searchfield" type="text" class="searchfield"/>

<input name="Search" value="Search" type="button" class="searchbutton"/>

</form>
</div> <!-- catsearch ends -->