<?php
        
echo $html->link($html->image('icons/w_new.png', array('class' => 'iL10')).$html->tag('span', __('Send a new message', true)), array('controller' => 'messages', 'action' => 'add'),array('class' => 'addB', 'escape' => false));

echo '<div class="mMn">';
   if (!empty($new_mm))
      echo $html->link($html->image('icons/bl_messages.png', array('class' => 'iL10')).$html->tag('span', __('My messages', true)).$html->tag('span', $new_mm, array('class' => 'count')), array('controller' => 'messages', 'action' => 'index'), array('class' => 'it', 'escape' => false));
   else
      echo $html->link($html->image('icons/bl_messages.png', array('class' => 'iL10')).$html->tag('span', __('My messages', true)), array('controller' => 'messages', 'action' => 'index'), array('class' => 'it', 'escape' => false));      

   if (!empty($new_dm))
      echo $html->link($html->image('icons/bl_messages.png', array('class' => 'iL10')).$html->tag('span',__('Demand messages', true)).$html->tag('span', $new_dm, array('class' => 'count')), array('controller' => 'dmessages', 'action' => 'index'), array('class' => 'it', 'escape' => false));        
   else
      echo $html->link($html->image('icons/bl_messages.png', array('class' => 'iL10')).$html->tag('span',__('Demand messages', true)), array('controller' => 'dmessages', 'action' => 'index'), array('class' => 'it', 'escape' => false)); 
   echo '</div>';
echo '</div>';
?>