<?php
echo '<div class="packT">'; 
   echo '<div class="ln hd">';
      echo $html->div('it lf rad3', '');
      echo $html->div('it geBg rad3', 'Basic subscriber');
      echo $html->div('it blBg rad3', 'Premium account - senator');
      echo $html->div('it viBg rad3', 'Premium account - ezVIP');
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Posting of demands');
      echo $html->div('it ge', 'Basic subscriber can only post 15 new demands within one calendar month');
      echo $html->div('it bl', 'unlimited');
      echo $html->div('it vi', 'unlimited');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Priority of your demands in the list');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Bidding for individual demands');
      echo $html->div('it ge', 'Basic subscriber can only bid for demands 30 times within one calendar month');
      echo $html->div('it bl', 'unlimited');
      echo $html->div('it vi', 'unlimited');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Sending of interest to other subscriber');
      echo $html->div('it ge', 'unlimited');
      echo $html->div('it bl', 'unlimited');
      echo $html->div('it vi', 'unlimited');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Number of connections');
      echo $html->div('it ge', 'unlimited');
      echo $html->div('it bl', 'unlimited');
      echo $html->div('it vi', 'unlimited');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Abilty to connect with other subscribers and sending request to connect');
      echo $html->div('it ge', 'Basic subscriber can only send connection request to other subscribers if both parties succesfully negotiated new business through Ezbizi. Basic subscribers are able to accept request to connect from premium account subscribers');
      echo $html->div('it bl', 'Senator account subscriber is able to connect with any subscriber on Ezbizi. Sending request to conect is limited to 30 request in one calendar month. Accepting request to connect is unlimited');
      echo $html->div('it vi', 'EzVIP account subscriber is able to connect with any subscriber on Ezbizi. Sending request to conect is ulimited');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Sending messages to other subscribers');
      echo $html->div('it ge', 'Basic subscribers can only send messages to other subscribers who are their connection');
      echo $html->div('it bl', 'unlimited');
      echo $html->div('it vi', 'unlimited');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view business registration number of other subscribers');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view staff details of other subscribers');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', 'Senator account subscriber is able to view staff details of all the subscribers who are their connection');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view and dowload uploaded shared documents or files of other subscribers');
      echo $html->div('it ge', 'Basic subscriber is only able to view and download documents from their connections. Basic subscriber is not able to see any shared files from unrelated subscribers.');
      echo $html->div('it bl', 'Senator subscriber is only able to view and download documents from their connections. Senator subscriber is only able to view the title and description of the documents uploaded by the unrelated subscribers, but is not able to open or dowload them.');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view albums of other subscribers');
      echo $html->div('it ge', $html->image('icons/yes.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view profile contact details of other subscribers');
      echo $html->div('it ge', 'Basic subscriber can only see contact details of other subscribers who are their connection');
      echo $html->div('it bl', 'Senator subscriber can only see contact details of other subscribers who are their connection');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to rate other subscribers and add recommendation');
      echo $html->div('it ge', $html->image('icons/yes.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view status updates of other subscribers');
      echo $html->div('it ge', 'Basic subscriber can only see status updates of other subscribers who are their connection');
      echo $html->div('it bl', 'Senator subscriber can only see status updates of other subscribers who are their connection');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view details of the subscriber who send interest ');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to ask Ezbizi to verifiy the subscriber based on the official documents, adding credibility to subscribers account');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Able to view full newsfeed of other subscribers who are not a connection');
      echo $html->div('it ge', 'limited');
      echo $html->div('it bl', 'limited');
      echo $html->div('it vi', 'unlimited');
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Number of personal profiles (users) allowed under one company account');
      echo $html->div('it ge', '25');
      echo $html->div('it bl', '50');
      echo $html->div('it vi', 'unlimited');
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'Maximum allowed demand bidding value');
      echo $html->div('it ge', 'Limited to: <br /> USD 29,000 <br /> SGD 35,000 <br /> JPY 2,200,000');
      echo $html->div('it bl', 'unlimited');
      echo $html->div('it vi', 'unlimited');
   echo '</div>';       
echo '</div>';
?>