<?php
echo '<div class="packT">'; 
   echo '<div class="ln hd">';
      echo $html->div('it lf rad3', '');
      echo $html->div('it geBg rad3', '一般会員');
      echo $html->div('it blBg rad3', 'プレミアム会員-Senator');
      echo $html->div('it viBg rad3', 'プレミアム会員-ezVIP');
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'お探し品の投稿数');
      echo $html->div('it ge', '1カレンダーの一ヶ月間で、お探し品の投稿は１５回まで可能');
      echo $html->div('it bl', '限度数なし');
      echo $html->div('it vi', '限度数なし');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'お探し品リスト内の優先順位');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '個々のお探し品にオファーの送信数');
      echo $html->div('it ge', '1カレンダーの一ヶ月間で、 お探し品にオファーの送信は 30回まで可能');
      echo $html->div('it bl', '限度数なし');
      echo $html->div('it vi', '限度数なし');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員に興味の送信数');
      echo $html->div('it ge', '限度数なし');
      echo $html->div('it bl', '限度数なし');
      echo $html->div('it vi', '限度数なし');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'コネクション数');
      echo $html->div('it ge', '限度数なし');
      echo $html->div('it bl', '限度数なし');
      echo $html->div('it vi', '限度数なし');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員とコネクションになる機能とコネクション同士になる為のリクエスト送信');
      echo $html->div('it ge', '弊社を通して商談相手とのお探し品と申し出がうまくいった場合、コネクションリクエストの送信ができる。プレミアムアカウント会員からのコネクションリクエストを受け入れることができる');
      echo $html->div('it bl', 'どの会員ともコンタクトをすることができる。コネクションリクエストの送信は1カレンダーの一ヶ月間で、３０回まで可能、受け入れは限度回数なし');
      echo $html->div('it vi', 'EzVIPアカウント会員はEzbizi上の全会員にコンタクトすることができる。コネクションリクエスト送信は限度回数なし');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員にメッセージを送信');
      echo $html->div('it ge', '自分とコネクションがある他の会員だけにメッセージの送信可能');
      echo $html->div('it bl', '限度数なし');
      echo $html->div('it vi', '限度数なし');
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員にビジネス登録番号の表示');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員の同僚の詳細を表示');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', '全会員の同僚の詳細を表示可能、コネクション同士も可能。');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員のアップロード、共有ドキュメント、ファイルの表示およびダウンロード');
      echo $html->div('it ge', 'コネクションがある会員のドキュメントの表示およびダウンロードが可能。コネクションがない会員の共用ドキュメントの参照不可。');
      echo $html->div('it bl', 'コネクションがある会員のドキュメントの表示およびダウンロードが可能。ドキュメントのタイトルと詳細だけが表示可能。');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員のアルバムの表示');
      echo $html->div('it ge', $html->image('icons/yes.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員のプロフィール内の連絡先の詳細の表示');
      echo $html->div('it ge', 'コネクション同士になっている会員だけの連絡先の詳細を見ることが可能');
      echo $html->div('it bl', 'コネクション同士になっている会員だけの連絡先の詳細を見ることが可能');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員の口コミと評価');
      echo $html->div('it ge', $html->image('icons/yes.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '他の会員の最新のステータス情報の表示');
      echo $html->div('it ge', 'コネクション同士になっている会員のみの最新のスタータス情報を見ることができる');
      echo $html->div('it bl', 'コネクション同士になっている会員のみの最新のスタータス情報を見ることできる');
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '興味の送信した会員の情報を表示');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '公式なドキュメントに基づいて会員を確認する為に、弊社に依頼');
      echo $html->div('it ge', $html->image('icons/no.png'));
      echo $html->div('it bl', $html->image('icons/yes.png'));
      echo $html->div('it vi', $html->image('icons/yes.png'));
   echo '</div>'; 
   echo '<div class="ln">';
      echo $html->div('it lf rad3', 'コネクション同士になっていない他の会員の全ニュースを表示');
      echo $html->div('it ge', '制限あり');
      echo $html->div('it bl', '制限あり');
      echo $html->div('it vi', '限度数なし');
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '１つの会社アカウントでの個人のプロフィール（会員）数');
      echo $html->div('it ge', '25');
      echo $html->div('it bl', '50');
      echo $html->div('it vi', '限度数なし');
   echo '</div>';
   echo '<div class="ln">';
      echo $html->div('it lf rad3', '最大入札値');
      echo $html->div('it ge', '限度あり<br /> USD 29,000 <br /> SGD 35,000 <br /> JPY 2,200,000');
      echo $html->div('it bl', '限度数なし');
      echo $html->div('it vi', '限度数なし');
   echo '</div>';       
echo '</div>';
?>