<?php
echo '<div class="cen">';
echo $html->link($html->image('logoBeta.png'), array('controller' => 'users', 'action' => 'home'), array('id' => 'logo', 'escape' => false));

echo $html->div(null, $session->read('Auth.User.title').' '.$session->read('Auth.User.first_name').' '.$session->read('Auth.User.middle_name').' '.$session->read('Auth.User.last_name'), array('id' => 'usrClk'));

echo '<div id="lang">';
   echo $html->tag('span', __('Language', true).':', array('class' => 'tit bl'));
   if(!empty($languages)) {
      foreach ($languages as $language)                                                                                                                                                                                                     
      if ($language['Language']['acronym'] == $lang)
         echo $html->link($html->tag('span', '', array('class' => 'l')).$html->tag('span', $language['Language']['name_'.$language['Language']['acronym']]).$html->tag('span', '', array('class' => 'r')).'<br />'.$html->image('langs/'.$language['Language']['acronym'].'.png', array('class' => 'flag')), array('controller' => $this->params['controller'], 'action' => $this->params['action'], implode('/', $this->params['pass']), 'language' => $language['Language']['acronym']), array('class' => 'lang act', 'escape' => false));
      else
         echo $html->link($html->tag('span', '', array('class' => 'l')).$html->tag('span', $language['Language']['name_'.$language['Language']['acronym']]).$html->tag('span', '', array('class' => 'r')).'<br />'.$html->image('langs/'.$language['Language']['acronym'].'.png', array('class' => 'flag')), array('controller' => $this->params['controller'], 'action' => $this->params['action'], implode('/', $this->params['pass']), 'language' => $language['Language']['acronym']), array('class' => 'lang', 'escape' => false)); 
   }
echo '</div>';
echo '</div>';
?>      