<?php
echo $this->element('belt_interface');
echo '<div id="main" class="pag iface"><div class="cen">';
   $cen_cls = 'iCen';

   if ($company['Company']['id'] != $pcompany['Company']['id']) {
      $cen_cls = 'iCen iCenS';
      echo '<div class="iRight">';
         echo $this->element('company_interface_right');
      echo '</div>';
   }
   echo '<div class="'.$cen_cls.'">';
   
      //---> RECOMMENDATIONS
      
      echo '<div class="recomms feeds">'; 
      
         echo '<div class="modP rad5">';
         echo $html->div('headline hlV hlIn', __('Recommendations', true));
         if (!empty($recommendations)) {
            foreach ($recommendations as $recommendation) {
               echo '<div class="feed">';
                  echo $html->image('icons/f_recom.png', array('class' => 'iL'));
                  echo $html->tag('span', date('d.m.Y', strtotime($recommendation['Recommendation']['created'])).'&nbsp;'.__('from', true).':', array('class' => 'date')).'&nbsp;';
                  echo $html->link($recommendation['Senderc']['name'], array('controller' => 'companies', 'action' => 'view', $recommendation['Senderc']['id']), array('class' => 'comp'));
                  echo $html->div('recom', $recommendation['Recommendation']['text']);
               echo '</div>';
            }
         }
         else
            echo $html->div('noData', __('No recommendation added', true));
         
         echo '</div>';
         
         if (!empty($recommendations)) {
            echo '<div class="pgn">';
               echo $paginator->first('<<', array('tag' => 'div')).$paginator->numbers(array('separator' => '', 'modulus' => '10', 'tag' => 'div')).$paginator->last('>>', array('tag' => 'div'));   
            echo '</div>';
          }
              
      echo '</div>';
               
   echo '</div>';
   if ($company['Company']['id'] == $pcompany['Company']['id']) {
      echo '<div class="iRight">';
         echo $this->element('company_interface_right');
      echo '</div>';
   }
   
echo '</div></div>';
?>
