/*---main settings---*/                                                                                                                                         
body {font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 10pt; padding: 0px; margin: 0px; color: #000000;}
* div {overflow: hidden; float: none;}
form {padding: 0px; margin: 0px;}
h1 {margin: 0; font-size: 12pt; color: #469dca;}
p {margin: 0px;}
a {text-decoration: none; display: inline-block;}
a img {border: none; vertical-align: middle;}
a span {vertical-align: middle;}
.none {display: none;}
.nofloat {float: none !important;}

/*---layout---*/
#top {min-width: 1000px; background: #f2f2f2;}
#cen {min-width: 1000px; overflow: visible;}
#foot {min-width: 1000px; height: 97px; border-top: 1px solid #e2e2e2; background: url(../img/bg/footBg.png) repeat-x top #FFFFFF;}
#round .cen {width: 1000px; height: 50px; margin: 0 auto; background: url(../img/bg/roundTop.png) 854px 0px no-repeat;}
#belt {height: 45px; background: url(../img/bg/beltBg.png) repeat-x top; overflow: visible;}
#main {min-height: 430px;} 

/*---top---*/
#top .cen {width: 1000px; height: 70px; margin: 0 auto; position: relative;}
#logo {position: absolute; left: 0px; top: 10px;}

/*---lang---*/
#lang {position: absolute; right: 0px; bottom: 0px;}
#lang .tit {vertical-align: bottom; font-weight: bold; display: inline-block; margin: 0 10px 0 0;}
#lang .lang {position: relative; vertical-align: bottom; text-align: center; text-transform: capitalize; color: #000000; margin: 0 8px; font-weight: bold; padding: 2px 5px; overflow: visible;}
#lang .lang .l {position: absolute; width: 4px; height: 42px; left: -4px; top: 0px;}
#lang .lang .r {position: absolute; width: 4px; height: 42px; right: -4px; top: 0px;}
#lang .act {background: #5ec4fa;}
#lang .act .l {background: url(../img/bg/langBg.png) no-repeat top left;}
#lang .act .r {background: url(../img/bg/langBg.png) no-repeat top right;}
#lang .flag {border: 1px solid #000000; display: none;}
#lang .lang:hover {padding: 1px 5px; background: #5ec4fa;}
#lang .lang:hover .l {background: url(../img/bg/langBg.png) no-repeat top left;}
#lang .lang:hover .r {background: url(../img/bg/langBg.png) no-repeat top right;}
#lang .lang:hover .flag {display: inline-block;}
                              
/*---color---*/
.ge {color: #8fb124;}
.geBg {background: #8fb124;}
.bl {color: #469dca;}
.dbl {color: #15597c;}
.blBg {background: #469dca;}
.lblBg {background: #D0E1EA;}
.gr {color: #565656;}
.grBg {background: #565656;}
.vi {color: #8339aa;}
.dvi {color: #44145e;}
.viBg {background: #8339aa;}
.red {color: #FF0000;}
.redBg {background: #FF0000;}
.wh {color: #FFFFFF;}
.or {color: #f46d29;}
.orBg {background: #f46d29;}

/*---forms---*/
.input input, .input textarea, .select select, .submit input {font-family: "Trebuchet MS", Helvetica, sans-serif; padding: 0; border: none;}
.file input {float: none;}
.submit {margin: 0; padding: 0;}
.error-message {color: #f26822 !important;}
.error input, .error select, .error textarea {border: 1px solid #f26822 !important;}

/*---buttons---*/
.butt {position: relative; height: 31px; overflow: visible; display: inline-block; padding: 3px 2px; margin: 0 4px; cursor: pointer;}
.butt .l {position: absolute; top: 0px; left: -4px; width: 4px; height: 37px; display: block;}
.butt .r {position: absolute; top: 0px; right: -4px; width: 4px; height: 37px; display: block;}
.butt .t {color: #FFFFFF; font-weight: bold; display: inline-block; font-size: 10pt; padding: 7px 15px; vertical-align: middle;}
.butt img {vertical-align: middle;}
.butt:hover .t {color: #000000;}

.butt2 {display: block; height: 18px; width: 140px; text-align: center; font-size: 10.5pt; font-weight: bold; padding: 9px 0;
box-shadow: 0 1px 3px #FFFFFF inset;}

.geB .l{background: url(../img/bg/geButtSBg.png) no-repeat top left;}
.geB .r {background: url(../img/bg/geButtSBg.png) no-repeat top right;}
.geB {background: url(../img/bg/geButtBg.png) repeat-x top;}

.blB .l{background: url(../img/bg/blButtSBg.png) no-repeat top left;}
.blB .r {background: url(../img/bg/blButtSBg.png) no-repeat top right;}
.blB {background: url(../img/bg/blButtBg.png) repeat-x top;}

.geB2 {color: #445807; background: url(../img/bg/geButtBgH.png) repeat-x top; border: 1px solid #75911e;}
.geB2:hover {background: url(../img/bg/geButtBg.png) repeat-x top;}

.blB2 {color: #16445d; background: url(../img/bg/blButtBgH.png) repeat-x top; border: 1px solid #2a7aa3;}
.blB2:hover {background: url(../img/bg/blButtBg.png) repeat-x top;}

.del {position: absolute; top: 0px; right: 0px; background: #edecec; color: #000000; font-size: 9pt; display: block; padding: 0 5px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.edit {position: absolute; top: 0px; right: 75px; background: #edecec; color: #000000; font-size: 9pt; display: block; padding: 0 5px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.dsp {position: absolute; top: 0px; right: 55px; background: #469dca; color: #ffffff; font-size: 9pt; display: block; padding: 0 5px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.block {position: absolute; top: 2px; right: 75px; color: #FFFFFF; font-size: 9pt; display: block; padding: 0 5px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.priv {position: absolute; top: 0px; left: 430px; z-index: 30;}
.privLnk {width: 120px; background: #469dca; color: #ffffff; font-size: 9pt; display: block; padding: 0 5px; cursor: pointer;}
.del:hover, .edit:hover, .dsp:hover, .block:hover, .privLnk:hover {background: #8339aa; color: #FFFFFF;}

/*-privacy pop-*/
.privWin {padding: 2px; margin: 1px 0 0 0; background: #FFFFFF; border: 1px solid #469DCA;}
.privWin a {display: block; color: #469DCA; padding: 0 3px;}
.privWin a:hover {background: #469DCA; color: #FFFFFF;}
.privWin a.act {background: #8fb124; color: #FFFFFF;}

/*-validity indicators*/
.or_ind .ind {border: 1px solid #FFA500 !important;}
.or_ind .rat {background: #FFA500 !important;}
.red_ind .ind {border: 1px solid #FF0000 !important;}
.red_ind .rat {background: #FF0000 !important;}

/*---blocks---*/
.rB {margin: 12px 0; overflow: visible; position: relative;}
.rB .t {height: 2px; position: absolute; top: -2px; left: 2px;}
.rB .b {height: 2px; position: absolute; bottom: -2px; left: 2px;}
.rB .tl {width: 2px; height: 2px; position: absolute; top: -2px; left: 0px; background-position: top left; background-repeat: no-repeat;}
.rB .tr {width: 2px; height: 2px; position: absolute; top: -2px; right: 0px; background-position: top right; background-repeat: no-repeat;}
.rB .bl {width: 2px; height: 2px; position: absolute; bottom: -2px; left: 0px; background-position: bottom left; background-repeat: no-repeat;}
.rB .br {width: 2px; height: 2px; position: absolute; bottom: -2px; right: 0px; background-position: bottom right; background-repeat: no-repeat;}
.rB .mid {padding: 4px 5px;}
.rB .g_tit {color: #000000; font-weight: bold;}

.rB .input {margin: 3px 0 0 0;}
.rB .input label {width: 160px; height: 18px; float: left; display: inline-block; color: #8e8e8e; padding: 2px 0 0 0; font-size: 9pt;}
.rB .input input {width: 220px; height: 20px; border: none; font-size: 9pt;}
.rB .long textarea  {width: 470px; height: 60px; font-size: 9pt;}
.rB .submit input {background: #8e8e8e; width: 70px; color: #FFFFFF; font-weight: bold; text-align: center; border: none; height: 20px; font-size: 9pt;}
.rB .submit input:hover {color: #000000;}
.rB .tr_sub {position: absolute; top: 5px; right: 5px;}

.rB .line1In {margin: 0; position: relative;}
.rB .line1In .input {margin: 0;} 
.rB .line1In .submit {position: absolute; top: 0px; right: 0px;}

.g_B, .g_B .t, .g_B .b {background: #E6ECF0;}
.g_B .tl, .g_B .tr, .g_B .bl, .g_B .br {background-image: url(../img/bg/g_rB.png);}

.z_B, .z_B .t, .z_B .b {background: #8eb60f;}
.z_B .tl, .z_B .tr, .z_B .bl, .z_B .br {background-image: url(../img/bg/z_rB.png);}

.b_B, .b_B .t, .b_B .b {background: #469dca;}
.b_B .tl, .b_B .tr, .b_B .bl, .b_B .br {background-image: url(../img/bg/b_rB.png);} 

.v_B, .v_B .t, .v_B .b {background: #8339aa;}
.v_B .tl, .v_B .tr, .v_B .bl, .v_B .br {background-image: url(../img/bg/v_rB.png);}  

.w180 {width: 180px;}
.w180 .t, .w180 .b {width: 176px;}
.w200 {width: 200px;}
.w200 .t, .w200 .b {width: 196px;}
.w260 {width: 260px;}
.w260 .t, .w260 .b {width: 256px;}
.w300 {width: 300px;}
.w300 .t, .w300 .b {width: 296px;}
.w480 {width: 480px;}
.w480 .t, .w480 .b {width: 476px;}
.w760 {width: 760px;}
.w760 .t, .w760 .b {width: 756px;}

/*-coll-*/
.iCen {width: 700px; margin: 0; padding: 0 20px 0 0; float: left; min-height: 1px;}
.iCenS {padding: 0 0 0 20px;}
.iRight {width: 260px; padding: 0; float: left; /*border-left: 1px solid #e3e3e3;*/}

.pLeft {width: 240px; padding: 0 10px 0 0; float: left;}
.pCen {width: 480px; padding: 0 19px; float: left; min-height: 1px;}
.pRight {width: 200px; padding: 0 0 0 10px; float: left;}

.uLeft {width: 200px; padding: 0 10px 0 0; float: left;}
.uLeftS {padding: 0;}
.uCen {width: 490px; padding: 0 10px; float: left;}
.uCenS {padding: 0 10px 0 20px;}
.uRight {width: 260px; padding: 0; float: left;}

.sLeft {width: 239px; float: left; padding: 0 10px 0 0;}
.sRight {width: 720px; float: left; padding: 0 0 0 10px;}
.sFull {width: 980px;}

.dLeft {width: 300px; float: left; padding: 0 9px 0 0;}
.dCen {width: 660px; float: left; padding: 0 0 0 10px;}
.dRight {width: 260px; float: left; padding: 0 0 0 49px;}

.mCen {width: 680px; float: left; padding: 0 20px 0 0;}
.mRight {width: 260px; float: left; padding: 0 0 0 20px;}

.iCen .topLT {width: 200px; margin: 12px 0; font-weight: bold; font-size: 12pt; padding: 5px 0; color: #469dca;}

/*---public---*/

.h55 {height: 55px;}
.float {float: left;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}
.mb10 {margin-bottom: 10px;}
.mt20 {margin-top: 20px;}
.iR {margin: 0 0 0 5px;} .iL {margin: 0 5px 0 0;} .iC {margin: 0 5px;}
.iR10 {margin: 0 0 0 10px; vertical-align: middle;} .iL10 {margin: 0 10px 0 0;}
.bFl {border: 1px solid #000000;}
.ital {font-style: italic;} .bold {font-weight: bold;}
.tLink {position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: url(../img/blank.png) repeat; z-index: 20;}
.rad3 {-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.rad5 {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.rad5b {-moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}
.rad5t {-moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;}

/*---belt---*/
#belt .cen {width: 1000px; height: 58px; margin: 0 auto; position: relative; overflow: visible;}

/*-search-*/
#belt .srch {position: absolute; top: 4px; left: 10px; overflow: visible;}
#belt .srch .input {padding: 5px;}
#belt .srch .input label {display: none;}
#belt .srch .input .lab {position: absolute; top: 8px; left: 13px; font-size: 11pt; color: #666666;}
#belt .srch .input input {height: 23px; width: 355px; font-size: 11pt; color: #469dca; padding: 4px 115px 0 5px; background: #eff5f4; outline:none;
-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 -1px 0 rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 -1px 0 rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.2);}
#belt .srch .input input:focus {background: #FFFFFF;
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 2px rgba(0,0,0,.1), 0 0 5px rgba(255,255,255,.9); -moz-box-shadow: 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 2px rgba(0,0,0,.1), 0 0 5px rgba(255,255,255,.9); box-shadow: 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 2px rgba(0,0,0,.1), 0 0 5px 2px rgba(255,255,255,.9);}
#belt .srch .submit {position: absolute; top: 8px; right: 9px;}
#belt .srch .submit input {background: url(../img/bg/homeSrchBtt.png) no-repeat top; width: 22px; height: 22px; color: #FFFFFF; font-size: 9pt; font-weight: bold;}
#belt .srch .submit input:hover {color: #000000;}

#belt .srch .srchT {position: absolute; z-index: 2; cursor: pointer; top: 8px; right: 35px; overflow: visible; background: #96b927; margin: 0 3px;}
#belt .srch .srchT .type {vertical-align: middle; padding: 2px 5px; color: #FFFFFF; font-weight: bold; font-size: 9pt; display: inline-block; height: 18px;}
#belt .srch .srchT img {vertical-align: middle;}
#belt .srch .srchT .l {position: absolute; top: 0px; left: -3px; width: 3px; height: 22px; background: url(../img/bg/srchTS.png) no-repeat top left;}
#belt .srch .srchT .r {position: absolute; top: 0px; right: -3px; width: 3px; height: 22px; background: url(../img/bg/srchTS.png) no-repeat top right;}
#belt .srch .srchT:hover .type {color: #000000;}

#belt .srchPop {position: absolute; z-index: 1; top: 30px; right: -66px; background: #acdf0a; border: 1px solid #96b927; padding: 1px 0; width: 100px;}
#belt .srchPop .it {font-size: 9pt; color: #000000; padding: 0 5px; cursor: pointer;}
#belt .srchPop .it:hover {color: #FFFFFF; background: #96b927;}

/*-login-*/
#belt .login {position: absolute; top: 0px; right: 10px;}
#belt .login .fp {font-size: 9pt; color: #FFFFFF;}
#belt .login .fpja {font-size: 8pt; letter-spacing: -1px;}
#belt .login .fp:hover {color: #000000;}
#belt .login .input {position: relative; width: 140px; float: left; padding: 5px 10px;}
#belt .login .input .lab {position: absolute; top: 7px; left: 13px; font-size: 9pt; color: #666666;}
#belt .login .input input {width: 140px; height: 18px; font-weight: bold; background: #e1eff6; font-size: 9pt; padding: 2px 0; 
-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 -1px 0 rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 -1px 0 rgba(0,0,0,.3), inset 0 1px 2px rgba(0,0,0,.2);}
#belt .login .input input:focus {background: #FFFFFF; outline:none;
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 2px rgba(0,0,0,.1), 0 0 10px rgba(255,255,255,.9); -moz-box-shadow: 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 2px rgba(0,0,0,.1), 0 0 10px rgba(255,255,255,.9); box-shadow: 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 2px rgba(0,0,0,.1), 0 0 10px 2px rgba(255,255,255,.9);}

#belt .login .input label {display: none; font-size: 9pt;}
#belt .login .remember {position: absolute; top: 26px; left: 9px;}
#belt .login .remember {padding: 0;}
#belt .login .remember input {width: 13px; height: 13px; margin: 3px 5px 0 0; float: left; border: none; padding: 0;}
#belt .login .remember label {display: block; line-height: 9pt; color: #FFFFFF; float: left; margin: 3px 0 0 0;}
#belt .login .submit {position: relative; float: left; height: 45px; width: 40px;}
#belt .login .submit input {background: url(../img/bg/homeLogBtt.png) no-repeat top; width: 22px; height: 22px; color: #FFFFFF; font-size: 9pt; font-weight: bold; position: absolute; left: 10px; top: 5px;}
#belt .login .submit input:hover {-webkit-box-shadow: 0 0 10px 3px rgba(255,255,255,.9); -moz-box-shadow: 0 0 10px 3px rgba(255,255,255,.9); box-shadow: 0 0 10px 3px rgba(255,255,255,.9);}

/*-register-*/
#belt .register .swi {float: left; height: 30px; border-top: 1px solid #113c5d; background: #2576a1; margin: 10px 10px 0 10px; padding: 4px 15px 0 15px; font-size: 12pt; color: #FFFFFF; cursor: pointer;}
#belt .register .act {color: #469dca; border-top: 1px solid #2a6592; background: #eaf1f4;}
#belt .register .reg_card {display: none;}

/*-user menu-*/
#usrClk {position: absolute; top: 6px; right: 0px; font-size: 10.5pt; color: #000000; padding: 0 20px 0 0; background: url(../img/icons/userAH.png) no-repeat right center; cursor: pointer;}
#usrClk:hover {color: #469dca;}
#belt .userMenu {position: absolute; top: 45px; right: 0px; display: none; width: 220px; padding: 10px; background: #ade3ff; z-index: 100;}
#belt .userMenu .menu {float: left; width: 130px;}
#belt .userMenu .avatar {float: left; width: 90px; text-align: center;}
#belt .userMenu .logout {width: 220px; border-top: 1px solid #3C77AE; margin: 5px 0 0 0;}
#belt .userMenu .it {color: #3C77AE; padding: 0 0 0 10px;}
#belt .userMenu .it:hover {color: #000000;}

/*-account indicator-*/
#belt .accInd {position: absolute; top: 7px; left: 630px; overflow: visible;}
#belt .accInd img {vertical-align: middle; margin: 0 5px 0 0;}
#belt .accInd span {vertical-align: middle; font-size: 9pt; font-weight: bold;}

/*-buble information*/
#belt .bubi {position: absolute; top: -60px; left: 575px; z-index: 1000; width: 160px; font-size: 9pt; line-height: 10pt;}
#belt .bubi .text {padding: 5px; color: #FFFFFF; margin: 0 0 7px 0; background: #8339AA;}
#belt .bubi:hover .text {background: #469dca;}
#belt .bubi .arr {position: absolute; bottom: 0px; right: 90px;}
#belt .bubi:hover .hov {display: block;} #belt .bubi:hover .nrm {display: none;}

/*-iface-*/
#belt .iface .mn {padding: 0 10px; width: 610px;}    
#belt .iface .soc .it {position: relative; padding: 12px 4px; vertical-align: middle; display: inline-block; color: #FFFFFF; font-size: 9pt; font-weight: bold;}
#belt .iface .ja .it {font-weight: normal;}
#belt .iface .soc .it img {margin: 0 5px 0 0;}
#belt .iface .soc .it .bi {display: none;}
#belt .iface .soc .it .count {position: absolute; top: 13px; left: 4px; width: 20px; text-align: center; color: #FFFFFF; font-size: 7.5pt;}
#belt .iface .soc .it:hover {color: #000000; text-shadow: 0 0 2px #FFFFFF;}
#belt .iface .soc .it:hover .count {text-shadow: none;}
#belt .iface .soc .it:hover .wi {display: none;}
#belt .iface .soc .it:hover .bi {display: inline-block;}
#belt .iface .soc .sep {vertical-align: middle; display: inline-block; width: 1px; height: 20px; background: #9ad8ff;}
#belt .iface .soc .sep2 {display: block; width: 100%; height: 1px; background: #9ad8ff;}

#belt .iface .socPop {position: absolute; top: 46px; left: 425px; display: none; width: 160px; padding: 5px 10px; background: #5ec4fa; z-index: 1000;}
#belt .iface .socPop .it {display: block; padding: 7px 0;}
#belt .iface .socPop .it .count {position: absolute; top: 9px; left: 0px;}

#belt .iface .isrch {position: absolute; left: 725px;}
#belt .iface .isrch .input input {width: 140px;}

/*-setting*/
#belt .setting > .menu {position: relative; background: url(../img/icons/setting.png) no-repeat left center #ebebeb; display: inline-block; padding: 6px 10px 6px 32px; margin: 7px 34px 0 14px; overflow: visible;}
#belt .setting > .menu .l {position: absolute; top: 0px; left: -14px; width: 14px; height: 30px; background: url(../img/bg/settingBg.png) no-repeat top left;}
#belt .setting > .menu .r {position: absolute; top: 0px; right: -14px; width: 14px; height: 30px; background: url(../img/bg/settingBg.png) no-repeat top right;}
#belt .setting > .menu .it {color: #000000; font-weight: bold; vertical-align: middle; display: inline-block; height: 18px;}
#belt .setting > .menu .it:hover {color: #2479a6;}
#belt .setting > .menu .sep {background: #000000; display: inline-block; width: 1px; height: 16px; margin: 0 10px; vertical-align: middle;}

#belt .setting > .hom {background: url(../img/icons/b_home.png) no-repeat left center #cde5f2;}
#belt .setting > .hom .l {background: url(../img/bg/settingHomBg.png) no-repeat top left;}
#belt .setting > .hom .r {background: url(../img/bg/settingHomBg.png) no-repeat top right;}

/*---promo---*/
#promo {background: url(../img/bg/promoBg.png) no-repeat center top #d0e1ea; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #aeb8be;}
#promo .cen {width: 980px; margin: 0 auto; padding: 10px;}

#promo .home {position: relative; height: 200px;}
#promo .home .buble {position: absolute; top: 15px; left: 15px; background: #FFFFFF; padding: 5px 10px 15px 10px;}
#promo .home .bubA {position: absolute; top: 75px; left: 675px;}
#promo .home .tit {font-size: 15pt; color: #8fb124;}
#promo .home .txt {font-size: 11pt; line-height: 14pt; color: #435761; width: 640px; margin: 10px 0 0 0;
text-shadow: 0 1px 0 #FFFFFF;}
#promo .home .mascot {position: absolute; right: 20px; bottom: 10px;}
#promo .home .more {position: absolute; bottom: 20px; left: 15px;}
#promo .home .sign {position: absolute; bottom: 20px; left: 195px;}

#promo .forgot .tit {color: #16445D; font-size: 12pt; text-transform: capitalize; text-shadow: 0 1px 0 #FFFFFF;}
#promo .forgot .txt {color: #435761;}

/*---main---*/
#main {background: url(../img/bg/mainBg.png) repeat-x top}
#main .cen {width: 980px; margin: 0 auto; padding: 15px 10px 30px 10px;}
#main .tit {margin: 0 0 10px 0; font-size: 12pt;}
#main .tit img {margin: 0 0 0 10px;}

/*---home page---*/

/*categories*/
.home .path {padding: 10px 0 0 0;}
.home .path .it {float: left; margin: 0 7px 0 0; padding: 2px 7px; color: #FFFFFF; cursor: pointer; font-weight: bold;}
.home .path .it:hover {color: #000000;}

.home .cats {margin: 20px 0 20px 0; min-height: 140px;}
.home .catb {width: 326px; float: left; overflow: visible;}
.home .catb2 {width: 470px; float: left; overflow: visible;}
.home .catb .ct, .home .catb2 .ct {overflow: visible;}
.home .catb .cat {position: relative; color: #FFFFFF; width: 230px; height: 20px; margin: 20px 0 20px 51px; text-align: center; padding: 14px 0; font-size: 11pt; font-weight; bold; cursor: pointer;
box-shadow: 0 1px 3px #FFFFFF inset;}
.home .catb .cat:hover {color: #000000;}
.home .catb .cat1 {background: url(../img/bg/cat1Bg.png) repeat-x top; border: 1px solid #2A7AA3;}
.home .catb .cat1:hover {background: url(../img/bg/cat1BgH.png) repeat-x top;}
.home .catb .cat2 {background: url(../img/bg/cat2Bg.png) repeat-x top; border: 1px solid #75911E;}
.home .catb .cat2:hover {background: url(../img/bg/cat2BgH.png) repeat-x top;}
.home .catb .cat3 {background: url(../img/bg/cat3Bg.png) repeat-x top; border: 1px solid #833ba9;}
.home .catb .cat3:hover {background: url(../img/bg/cat3BgH.png) repeat-x top;}
.home .catb .cat .ico {position: absolute; top: 14px; left: 10px;}

.home .cats .pan {background: #f0f0f0; width: 940px; padding: 10px 20px;}
.home .cats .tPan {width: 940px;}

.home .scat {padding: 3px 0; font-weight: bold; cursor: pointer;}
.home .scat:hover {color: #000000;}
.home .sec {padding: 3px 0; font-weight: bold;}
.home .sec:hover {color: #000000;}

.home .latest {margin: 10px 0; padding: 10px; background: #e6ecf0;}
.home .latest .head {background: #5ec4fa; color: #FFFFFF; margin: 0 0 5px 0;}
.home .latest .head .col {font-weight: bold;}
.home .latest .row .col {float: left; padding: 3px 5px;}
.home .latest .row .off {width: 370px; padding: 7px 5px 3px 30px;}
.home .latest .row .grp {width: 140px;}
.home .latest .row .ent {width: 120px;}
.home .latest .row .loc {width: 140px;}
.home .latest .row .val {width: 110px;}
.home .latest .body {border-bottom: 1px solid #ffffff; background: url(../img/icons/latA.png) no-repeat 8px 7px;}
.home .latest .body .off a {text-decoration: underline; line-height: 11pt;}
.home .latest .body .loc img {vertical-align: middle; margin: 0 10px 0 0;}
.home .latest .body .loc span {vertical-align: middle; font-size: 9pt;}
.home .latest .body .grp {padding: 7px 5px 2px 5px; line-height: 11pt;}
.home .latest .body .ent {font-size: 9pt; padding: 7px 5px 0px 5px;}
.home .latest .body .val .ind {position: relative; border: 1px solid #8fb124; padding: 1px; width: 100px; height: 14px; margin: 3px 0 0 0; background: #FFFFFF;}
.home .latest .body .val .ind .rat {background: #8fb124; height: 100%; width: 0px;}
.home .latest .body .val .ind .mask {position: absolute; background: url(../img/bg/indMask.png) repeat-x top; top: 1px; bottom: 1px; right: 1px; left: 1px;}
.home .latest .body .val .date {display: none; color: #469dca; font-size: 8pt; width: 100px; text-align: center; line-height: 9pt;}
.home .latest .body:hover {background: url(../img/icons/latAH.png) no-repeat 8px 7px #f2f2f2;}
.home .latest .body:hover .val .ind {display: none;} 
.home .latest .body:hover .val .date {display: inline-block;} 

/*---register---*/
#main .preg .its {margin: 70px 0 0 0; text-align: center;}
#main .preg .its .it {display: inline-block; vertical-align: top; width: 230px; height: 230px; background: #000000; text-align: center; margin: 0 70px; box-shadow: 0 1px 3px #FFFFFF inset;}
#main .preg .its .it .ico {margin: 10px 0 0 0;}
#main .preg .its .it .txt {margin: 5px 0 0 0; color: #ffffff; font-size: 11pt; line-height: 12pt;}
#main .preg .its .it:hover .txt {color: #000000;}
#main .preg .its .reg1 {background: url(../img/bg/reg1Bg.png) repeat-x top; border: 1px solid #2A7AA3;}
#main .preg .its .reg2 {background: url(../img/bg/reg2Bg.png) repeat-x top; border: 1px solid #75911E;}
#main .preg .its .reg1:hover {background: url(../img/bg/reg1BgH.png) repeat-x top;}
#main .preg .its .reg2:hover {background: url(../img/bg/reg2BgH.png) repeat-x top;}

#main .regForm {position: relative;}
#main .regForm .blk {float: left; width: 350px; overflow: visible;}
#main .regForm .bblk {float: none; width: 960px; padding: 0 10px;}
#main .regForm .input {margin: 4px 0 0 0;}
#main .regForm .input label {width: 150px; height: 22px; float: left; display: inline-block; color: #8E8D8D; font-weight: normal;}
#main .regForm .input label span, #main .regForm .input label img {vertical-align: middle;}
#main .regForm .input label img {cursor: pointer;} 
#main .regForm .input input {width: 180px; height: 20px; float: left; display: inline-block; border: 1px solid #8e8d8d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
#main .regForm .select select, #CompanyEstDateDay, #CompanyEstDateMonth, #CompanyEstDateYear {width: 182px; height: 22px; float: left; display: inline-block; border: 1px solid #8e8d8d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
#CompanyEstDateDay {width: 45px; vertical-align: middle;}
#CompanyEstDateMonth {width: 45px; vertical-align: middle;}
#CompanyEstDateYear {width: 70px; vertical-align: middle;}
#main .regForm .input textarea {border: 1px solid #8e8d8d; width: 600px; height: 200px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
#main .regForm .textarea .error-message {margin: 0 0 0 150px;}
#main .regForm .input .sep {vertical-align: middle; float: left; display: inline-block; padding: 0 3px; color: #469dca; font-weight: bold;}
#main .regForm .double .input {float: left;}
#main .regForm .double .code {width: 192px;}
#main .regForm .double .code input {width: 40px;}
#main .regForm .double .phone {width: 142px;}
#main .regForm .double .phone label {display: none;}
#main .regForm .double .phone input {width: 130px; margin: 0 0 0 8px;}
#main .regForm .sectorBlk {position: relative;}
#main .regForm .sectorInput input {width: 330px;} 
#main .regForm .sectorText {position: absolute; top: 22px; left: 0px;}
#main .regForm .sectorText label {display: none;}
#main .regForm .sectorText input {width: 330px;}
#main .regForm .short80 input {width: 80px;}
#main .regForm .checkbox {position: relative;}
#main .regForm .checkbox input {margin: 2px 10px 0 0; width: 13px; height: 13px; border: none;}
#main .regForm .checkbox label {width: 300px; height: 35px; line-height: 11pt;}
#main .regForm .checkbox label a, #main .regForm .checkbox label span {display: inline; vertical-align: middle;}
#main .regForm .public label {width: 75px;}
#main .regForm .checkbox img {float: left; display: inline-block;}
#main .regForm .checkbox a {color: #469dca; text-decoration: underline;}
#main .regForm .compSize {position: relative; overflow: visible;}
#main .regForm .compSizeTextInput {position: absolute; top: 0px; left: 150px; margin: 0; cursor: default;}
#main .regForm .compSizeTextInput label {display: none;}
#main .regForm .compSizeTextInput input {width: 180px;}
#main .regForm .compSize .options {display: none; position: absolute; top: 21px; left: 150px; width: 250px; border: 1px solid #469dca; background: #FFFFFF; cursor: default; z-index: 2;}
#main .regForm .compSize .options div {padding: 1px 0 1px 3px;}
#main .regForm .compSize .options div:hover {background: #469dca; color: #FFFFFF;}
#main .regForm .compSize .arr {position: absolute; top: 1px; left: 314px; width: 17px; height: 20px;}
#main .regForm .req label {font-weight: bold; color: #469dca;}
#main .regForm .req input, #main .regForm .req select {border: 1px solid #469dca;}
#main .regForm .line2 label {height: 35px; line-height: 12pt; width: 140px; margin: 0 10px 0 0;}
#main .regForm .submit {text-align: center; margin: 20px 0;}
#main .regForm .submit input {border: none; width: 169px; font-size: 10pt; font-weight: bold; padding: 10px 0 9px 40px; color: #FFFFFF; background: url(../img/bg/blSubmitBg.png) no-repeat top; cursor: pointer;}
#main .regForm .submit input:hover {color: #000000;}
#main .regForm .error-message {width: 330px; padding: 0 0 5px 0;}

#secSel {margin: 4px 0 10px 0; background: #F2F2F1; width: 322px; padding: 5px;}
#secSel .lev3 {margin: 0 0 0 15px;}
#secSel .cat {font-weight: bold; font-size: 9pt; cursor: pointer;}
#secSel .cat img {vertical-align: middle; margin: 0 5px 0 0;}
#secSel .cat span {vertical-align: middle;}
#secSel .cat:hover {color: #469dca;}

#secSel .sec {margin: 3px 0 0 0; color: #8fb124;}
#secSel .sec span {text-decoration: underline;}
#secSel .sec:hover {color: #000000;}

#main .regForm .compSel {position: relative; min-height: 32px;}
#main .regForm .compSelInp input {margin: 0 0 7px 0;}
#main .regForm .findB {position: absolute; top: 0px; left: 0px;}
#main .regForm .find {position: relative; margin: 0;}
#main .regForm .find label {display: none;}
#main .regForm .find input {width: 330px; height: 30px; border: 1px solid #469dca; color: #9d9c9c;}
#main .regForm .find .loupe {position: absolute; top: 1px; right: 1px;}

#main .results .comp {margin: 0 0 4px 0; border-bottom: 1px solid #e0e0e0; width: 330px; cursor: pointer;}
#main .results .comp:hover {background: #f2f2f2;}
#main .results .comp .thumb {float: left; width: 60px; text-align: center; padding: 3px 0 0 0;}
#main .results .comp .info {float: left;}
#main .results .comp .id {display: none;}
#main .results .comp .name {color: #469dca; font-size: 11pt;}
#main .results .comp .loc {color: #8fb124;}
#main .results .act {background: #f2f2f2;}

#passStrong {width: 177px; height: 20px; margin: 4px 0 0 150px; padding: 2px 0 0 5px; font-weight: bold;}
.password_strength_1 {background: #FF0000; color: #FFFFFF;}
.password_strength_2 {background: #f26822; color: #FFFFFF;}
.password_strength_3 {background: #FFFF54; color: #000000;}
.password_strength_4 {background: #bbd95d; color: #000000;}
.password_strength_5 {background: #8fb124; color: #FFFFFF;}

#main .regForm .regInf {position: absolute; top: 15px; right: 10px; float: left; width: 280px; height: 570px;}
#main .regForm .regInf .bubble {position: absolute; left: 0px; bottom: 180px; width: 260px; padding: 10px; background: #e2eff6; text-align: justify; font-size: 10pt; overflow: visible;}
#main .regForm .regInf .bubble img, #main .regForm .regInf .bubble span {vertical-align: middle;}
#main .regForm .regInf .bubble span {line-height: 12pt;}
#main .regForm .regInf .bubble .arr {margin: 0 10px 0 30px;}
#main .regForm .regInf .bubble .lnk {color: #8339aa; text-decoration: underline; font-weight: bold; cursor: pointer;}
#main .regForm .regInf .bubble .lnk:hover {color: #000000;}
#main .regForm .regInf .bubble .bck {color: #ffffff; font-weight: bold; font-size: 9pt; display: inline-block; padding: 2px 5px; cursor: pointer;}
#main .regForm .regInf .bubble .bubM {position: absolute; bottom: -180px; right: 40px;}
#main .regForm .regInf .bubble .bubA {position: absolute; width: 39px; height: 26px; bottom: -26px; left: 80px;}

/*---page---*/
.pag .tit {font-size: 11pt !important;}

.pag .catSel {padding: 5px 10px;}
.pag .catSel .cat {cursor: pointer; font-weight: bold; font-size: 9pt;}
.pag .catSel .cat img {vertical-align: middle; margin: 0 5px 0 0;}
.pag .catSel .cat span {vertical-align: middle;}
.pag .catSel .lev1 {margin: 3px 0 0 0;}
.pag .catSel .lev3 {margin: 0 0 0 15px; font-weight: normal !important;}

.pag .catSel .sec {margin: 3px 0 0 0; color: #FFFFFF;}
.pag .catSel .sec span {text-decoration: underline;}
.pag .catSel .sec:hover {color: #000000;}

#catSet {padding: 5px 10px; font-weight: bold; color: #FFFFFF;}

.pag .form {margin: 12px 0;}
.pag .form .title {font-weight: bold; margin: 10px;}
.pag .form .line {padding: 8px 5px; margin: 0 0 2px 0; border-bottom: 1px dashed #edecec;}
.pag .form .last {border: none !important;}
.pag .form .rel {position: relative;}
.pag .form .input {margin: 0;}
.pag .form .input label {width: 160px; height: 22px; float: left; display: inline-block; color: #469dca;}
.pag .form .input input {width: 250px; height: 20px; float: left; display: inline-block; border: 1px solid #8e8d8d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pag .form .input select {width: 252px; height: 22px; float: left; display: inline-block; border: 1px solid #8e8d8d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pag .form .input textarea {width: 486px; height: 250px; border: 1px solid #8e8d8d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pag .form .title input {width: 486px;}
.pag .form .double .input {float: left;}
.pag .form .double .date {position: relative;}
.pag .form .double .date img {position: absolute; top: 0px; right: 0px;}
.pag .form .double .date input {width: 80px; margin: 0 28px 0 0;}
.pag .form .double .dateFrom {width: 220px;}
.pag .form .double .dateTo {width: 150px;}
.pag .form .double .dateTo label {width: 30px; margin: 0 0 0 10px;}
.pag .form .double .quan {width: 232px;}
.pag .form .double .quan input {width: 120px;}
.pag .form .double .unit {width: 80px;}
.pag .form .double .unit label {display: none;}
.pag .form .double .unit select {width: 60px; margin: 0 0 0 10px;}
.pag .form .double .bet {float: left; padding: 0 5px;}
.pag .form .double .tot {position: absolute; top: 7px; right: 0px;}
.pag .form .double .tot label {color: #000000; font-weight: bold; width: 80px;}
.pag .form .double .tot .totSum {font-weight: bold; display: inline-block; color: #ffffff; padding: 1px 7px;}
.pag .form .double .ship {width: 100px;}
.pag .form .double .ship label {display: none;}
.pag .form .double .ship select {width: 90px; margin: 0 0 0 10px;}
.pag .form .error-message {padding: 2px 0 0 100px; width: 480px;}
.pag .form .dateTo .error-message {padding: 2px 0 0 40px;}
.pag .form .unit .error-message {padding: 2px 0 0 10px;}
.pag .bblk {float: none; width: 960px; padding: 0 10px;}
.pag .bblk .submit {text-align: center; margin: 10px 0 0 0;}
.pag .bblk .submit input {border: none; width: 169px; font-size: 10pt; font-weight: bold; padding: 10px 0 9px 40px; color: #FFFFFF; background: url(../img/bg/blSubmitBg.png) no-repeat top; cursor: pointer;}
.pag .bblk .submit input:hover {color: #000000;}

.pag .uForm {background: #EDECEC;}
.pag .uForm .line {padding: 8px 5px; margin: 0 10px 2px 10px; border-bottom: 1px solid #FFFFFF;}
.pag .uForm .input label {color: #565656;}
.pag .uForm .input input, .pag .uForm .input select, .pag .uForm .input textarea {border: 1px solid #E0E0E0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pag .uForm .submit {background: #FFFFFF; padding: 10px; margin: 1px;}
.pag .uForm .submit input {display: block; background: #8eb60f; color: #FFFFFF; font-weight: bold; padding: 2px 10px; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .uForm .submit input:hover {background: #8339aa;}

.pag .addForm .input label {width: 100px;} 
      
.pag .srchForm .line {padding: 5px 0; margin: 0 10px;}
.pag .srchForm .input label {width: 80px; font-size: 9pt;}
.pag .srchForm .input input {width: 158px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pag .srchForm .input select {width: 160px; margin: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pag .srchForm .double .input {float: left;}
.pag .srchForm .double .quan {width: 170px;}
.pag .srchForm .double .quan input {width: 85px;}
.pag .srchForm .double .unit {width: 70px;}
.pag .srchForm .double .unit label {display: none;}
.pag .srchForm .double .unit select {width: 60px; margin: 0 0 0 10px;}
.pag .srchForm .catSel {background: #FFFFFF; margin: 0 10px;}
.pag .srchForm .catSel .cat {color: #565656 !important; font-weight: normal;}
.pag .srchForm .catSel .sec, .pag .srchForm .catSet {color: #469DCA !important; padding: 0 !important; font-style: normal !important;}
.pag .srchForm .secE {padding: 1px 3px; cursor: pointer; color: #FFFFFF; display: inline-block; font-weight: bold; font-size: 9pt;}
.pag .srchForm .secCh {padding: 1px 3px; cursor: pointer; color: #FFFFFF; display: none; font-weight: bold; font-size: 9pt; margin: 0 0 0 10px;}

.pag .list .itm {position: relative; padding: 3px 0; border-bottom: 1px solid #E0E0E0; margin: 0 0 5px 0; background: #FFFFFF;}
.pag .list .itm .name {color: #469dca; text-decoration: underline; font-weight: bold; vertical-align: middle;}
.pag .list .itm .name:hover {color: #000000;}
.pag .list .itm .lin {padding: 2px 5px; display: inline-block; background: #FFFFFF; 
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .list .itm .loc img, .pag .list .itm .loc span {vertical-align: middle;}
.pag .list .itm .top .iL {vertical-align: middle;}
.pag .list .itm .topDate {margin: 0 0 5px 0;}
.pag .list .itm .topDate .date {margin: 0; vertical-align: middle;}
.pag .list .itm .topDate .own {color: #ffffff; margin: 0 0 0 5px; font-size: 8pt; line-height: 9pt; padding: 1px 5px; display: inline-block; vertical-align: middle;}
.pag .list .itm .cat {margin: 3px 0 0 0;}
.pag .list .itm .comp {position: absolute; bottom: 3px; right: 5px; background: #F2F2F2; padding: 2px 10px; font-size: 9pt; line-height: 9pt;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .list .itm .ind {position: absolute; top: 5px; right: 5px; font-size: 9pt; padding: 0 5px; color: #FFFFFF; font-weight: bold;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .list .itm .del2 {top: 2px; right: 0px;}
.pag .list .itm .del3 {top: 2px; right: 2px;}
.pag .list .itm .edit2 {top: 2px;}
.pag .list .itm .avat {float: left; width: 60px; text-align: center;}
.pag .list .itm .new {vertical-align: middle; color: #ffffff; background: #ff0000; padding: 1px 5px; margin: 0 10px 0 0; font-size: 8pt; line-height: 9pt; display: inline-block; 
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .list .itm .date {vertical-align: middle; color: #000000; background: #E1EFF6; padding: 1px 5px; margin: 0 0 0 20px; font-size: 8pt; line-height: 9pt; display: inline-block; 
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .list .itm .mess {margin: 5px 0 0 0; text-align: justify; line-height: 11pt; color: #565656; padding: 0 0 2px 0;}
.pag .list .itm .mess span, .pag .list .itm .mess img {vertical-align: middle;}
.pag .list .itm .mess a {color: #469dca; text-decoration: underline;}

.pag .list .itmM {border: 1px solid #CCCCCC; margin: 0 0 10px 0; padding: 3px 10px 3px 0;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.pag .list .itmD {border: 1px solid #CCCCCC; margin: 0 0 10px 0; padding: 3px 10px;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

.pag .list .itmD1 {border: 1px solid #8EB60F; background: #e9f0d2;}
.pag .list .itmD2 {border: 1px solid #8339AA; background: #f4dfff;}
.pag .list .itmD3 {border: 1px solid #469dca; background: #f1f8fc;}      

.pag .list .itmM1 {border: 1px solid #469dca; background: #E1EFF6; width: 600px;}
.pag .list .itmM1 .date {background: #FFFFFF !important; position: absolute; top: 3px; right: 3px;} 

.pag .list .itmM2 {border: 1px solid #8EB60F; background: #e9f0d2; width: 600px; margin: 0 0 10px 65px;}
.pag .list .itmM2 .name {color: #8eb60f;}
.pag .list .itmM2 .date {background: #FFFFFF !important; position: absolute; top: 3px; right: 3px;}

.pag .list .ovrf {overflow: visible; margin-bottom: 20px; min-height: 55px;}
.pag .list .geA {position: absolute; bottom: -15px; right: 15px;}
.pag .list .blA {position: absolute; bottom: -15px; left: 15px;}   

.pag .list .thr {padding: 5px 10px; margin: 0 0 10px 0;
-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.pag .list .thr1 {border: 1px solid #f3f3f3;}
.pag .list .thr2 {background: #f3f3f3; border: none;}
.pag .list .thr3 {border: 1px solid #CCCCCC;}

.pag .addB {margin: 10px 0 0 0; background: #8eb60f; border: 2px solid #8eb60f; color: #FFFFFF; display: block; font-weight: bold; text-align: center; padding: 10px 0;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .addB:hover {border: 2px solid #5f7a0b;}

.pag .mMn {margin: 20px 0 0 0;}
.pag .mMn .it {display: block; margin: 10px 0; padding: 5px 10px; background: #EFF5F4; border: 1px solid #b9d0dc; color: #469dca; font-weight: bold;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .mMn .it .count {margin: 0 0 0 10px; background: #ff0000; height: 13px; padding: 1px 3px; display: inline-block; font-size: 9pt; line-height: 10pt; color: #FFFFFF;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .mMn .it:hover {border: 1px solid #18597a; color: #18597a;}

.pag .adForm {-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pag .adForm .input label {width: 150px; font-size: 9pt; height: 20px;}
.pag .adForm .text input {width: 200px; height: 18px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.pag .adForm .line {padding: 4px 5px; margin: 0 10px;}
.pag .adForm .input textarea {width: 510px; height: 40px;}
.pag .adForm .submit {padding: 4px 10px;}
.pag .adForm .submit input {font-size: 9pt;}

/*---demand---*/
.dem .detail {position: relative; border: 1px solid #EDECEC; padding: 10px; margin: 25px 0 0 0;}
.dem .detail .cat {font-weight: bold;}
.dem .detail .info {margin: 10px 0 3px 0;}
.dem .detail .info .blk {float: left; padding: 0 10px 0 0; width: 202px;}
.dem .detail .info .tot {display: inline-block; background: #F2F2F2; padding: 0 0 0 2px;}
.dem .detail .info .sum {display: inline-block; padding: 2px 5px; font-weight: bold; color: #ffffff;}
.dem .detail .info .loc img, .dem .detail .info .loc span {vertical-align: middle;}
.dem .detail .sep {border-bottom: 1px solid #edecec;}
.dem .detail .dsc {text-align: justify; margin: 10px 0 0 0;}
.dem .detail .val {position: absolute; top: 10px; right: 10px; cursor: pointer;}
.dem .detail .val .ind {position: relative; margin: 1px 0 0 10px; border: 1px solid #8fb124; padding: 1px; width: 100px; height: 12px; float: left;}
.dem .detail .val .rat {background: #8fb124; height: 12px;}
.dem .detail .val .mask {position: absolute; background: url(../img/bg/indMaskMin.png) repeat-x top; top: 1px; bottom: 1px; right: 1px; left: 1px;}
.dem .detail .val .dat {margin: 1px 0 0 10px; font-size: 9pt; color: #469dca; float: left;}
.dem .detail .val:hover .ind {display: none;}
.dem .detail .val:hover .dat {display: block;}

.dem .mTop {border: 1px solid #E0E0E0; border-bottom: none;}
.dem .delB {position: relative; height: 20px;}

.dem .detailMe {background: #f3f3f3;}
.dem .detailMe .sep {border-bottom: 1px solid #D9D9D9;}

.dem .reaBlk {background: url(../img/bg/reaBlkBg.png) no-repeat 600px 0 #E0E0E0; padding: 30px 15px 15px 15px;}
.dem .reaBlk .rea {position: relative; overflow: visible; margin: 15px 0 0 0; padding: 3px 5px; background: #FFFFFF; }
.dem .reaBlk .rea .mInd {position: absolute; top: 8px; right: 12px;}
.dem .reaBlk .rea .info {min-height: 18px; padding: 2px 0;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.dem .reaBlk .rea .info .blk {float: left; padding: 0 10px 0 0; width: 190px;}
.dem .reaBlk .rea .info .at {color: #000000; font-weight: bold; font-size: 9pt;}
.dem .reaBlk .rea .info .vl {color: #FFFFFF; font-weight: bold; font-size: 9pt;}
.dem .reaBlk .rea .date {vertical-align: middle; color: #000000; background: #FFFFFF; margin: 2px 0 0 3px; padding: 1px 5px; font-size: 8pt; line-height: 9pt; display: inline-block; 
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.dem .reaBlk .rea .tot {text-align: right;}
.dem .reaBlk .rea .tot .at {color: #000000; font-weight: bold; font-size: 9pt;}
.dem .reaBlk .rea .tot .vl {color: #ffffff; font-weight: bold; font-size: 9pt; display: inline-block; padding: 1px 5px;}
.dem .reaBlk .rea .dsc {text-align: justify; margin: 10px 0 5px 0; line-height: 11pt;} 
.dem .reaBlk .rea .dsc span, .dem .reaBlk .rea .dsc img {vertical-align: middle;}
.dem .reaBlk .rea .reaA {position: absolute; left: 80px; top: -11px;}

.dem .reaBlk .rea1 .info, .dem .reaBlk .rea1 .tot .vl {background: #469dca;}
.dem .reaBlk .rea2 .info, .dem .reaBlk .rea2 .tot .vl {background: #8EB60F;}

.dem .reaBlk .viewCon {background: #8fb124; color: #FFFFFF; font-size: 9pt; font-weight: bold; display: inline-block; padding: 2px 5px;}
.dem .reaBlk .viewCon:hover {color: #000000;}

.dem .regBlk {background: #EDECEC; text-align: center;}
.dem .regBlk .btn {margin: 50px 0; background: #FFFFFF; border: 1px solid #000000; padding: 2px 10px; font-size: 11pt; color: #000000;}
.dem .regBlk .btn:hover {background: #8339aa; color: #FFFFFF;}

.dem .detForm {margin: 0;}
.dem .detForm .double .quan {width: 282px;}
.dem .detForm .double .dateFrom {width: 270px;}
.dem .detForm .btns {background: #FFFFFF; padding: 10px; border-top: 1px solid #E0E0E0;}
.dem .detForm .btns .btn {display: inline-block; background: #469dca; color: #FFFFFF; font-weight: bold; padding: 2px 10px; cursor: pointer; margin: 0 20px 0 0; vertical-align: middle;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.dem .detForm .btns .btn:hover {background: #8339aa;} 
.dem .detForm .input textarea {width: 466px; height: 180px;}

.dem .mdetForm {background: #ffffff;}
.dem .mdetForm .input label {width: 60px; color: #469DCA;}
.dem .mdetForm .input textarea {width: 530px; height: 180px; border: 1px solid #469DCA;}
.dem .mdetForm .text input {border: 1px solid #469DCA;}
.dem .mdetForm .double .quan {width: 190px;}
.dem .mdetForm .error-message {padding: 2px 0 0 60px;}

.dem .demCon {margin: 10px 0 0 0; background: #f2f2f2; padding: 10px;}
.dem .demCon .conBlk .it {margin: 0 0 2px 0;}
.dem .demCon .conBlk .it .at {float: left; width: 100px; min-height: 1px; color: #565656;}
.dem .demCon .conBlk .it .vl {float: left; color: #469DCA; font-weight: bold;}
.dem .demCon .conBlk .it .vl a {color: #469dca; text-decoration: underline; color: #469DCA;}
.dem .demCon .conBlk .it img, .dem .demCon .conBlk .it span {vertical-align: middle;}
.dem .demCon .conBlk .it span {color: #469DCA; font-weight: bold;}
.dem .demCon .conBlk .it span a {color: #469dca; text-decoration: underline; color: #469DCA;}

.dem .demInf {margin: 10px 0 0 0;}
.dem .demInf .bub {position: relative; top: 0px; right: 0px; overflow: visible; color: #ffffff; padding: 5px; background: #8339aa; text-align: justify}
.dem .demInf .bub .lnk {color: #ffffff; text-decoration: underline;}
.dem .demInf .bubA {position: absolute; bottom: -26px; right: 50px;}
.dem .demInf .bubM {margin: 20px 0 0 0;}
.dem .demInf .bub:hover {background: #469dca;} .dem .demInf .bub:hover .nrm {display: none;} .dem .demInf .bub:hover .hov {display: block;}

.dem .lMn {margin: 10px 0 0 0; width: 260px;}
.dem .lMn .it {display: block; margin: 0 0 2px 0; padding: 3px 10px; color: #000000; font-size: 9pt; font-weight: bold;}
.dem .lMn .it:hover {color: #FFFFFF; background: #469dca;}
.dem .lMn .it1 {background: #ddedf5;}
.dem .lMn .it2 {background: #D0E1EA;}

/*pop Up*/
.popUp {position: fixed; display: none; width: 500px; background: url(../img/pUp_bor.png) repeat; z-index: 10; padding: 10px;}
.popUp .main {position: relative; border: 1px solid #4C4C4C; background: #FFFFFF;}
.popUp .main .con {padding: 10px 10px 35px 10px;}
.popUp .main .con .title {font-size: 11pt; font-weight: bold; margin: 0 0 10px 0;}
.popUp .main .bot {position: absolute; bottom: 0px; left: 0px; background: #E6E6E6; width: 490px; height: 20px; border-top: 1px solid #CCCCCC; padding: 2px 5px; text-align: right;}
.popUp .main .popUpCls {cursor: pointer;}
.popUp .main .back {position: absolute; top: 10px; right: 10px; cursor: pointer; background: #8339aa; color: #FFFFFF; font-weight: bold; text-align: center; padding: 2px 5px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}

.popUp .form .input label {display: none;}
.popUp .form .input textarea {width: 476px; height: 150px; border: 1px solid #8e8d8d;}
.popUp .form .submit {background: #FFFFFF; padding: 5px 0;}
.popUp .form .submit input {display: block; background: #8eb60f; color: #FFFFFF; font-weight: bold; padding: 2px 10px; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.popUp .form .submit input:hover {background: #8339aa;} 

.popUp .deact .form .bblk {width: 436px;}
.popUp .deact .dscText a {color: #469dca; text-decoration: underline;}

/*---messages---*/
.mes .mesForm .input label {width: 100px;}
.mes .mesForm .input textarea {width: 540px; height: 180px;}
.mes .mesForm .sTo {background: #469dca; display: inline-block; margin: 0 0 0 20px; color: #FFFFFF; cursor: pointer; font-size: 9pt; font-weight: bold; padding: 0 10px;}
.mes .mesForm .sTol {margin: 0;}
.mes .mesForm .sTo:hover {color: #000000;}
.mes .mesForm .mRec {color: #469dca; font-weight: bold; margin: 0 20px 0 0;}
.mes .mesForm .error-message {padding: 2px 0 0 100px;}

.mes .replyForm {-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.mes .replyForm .input textarea {width: 540px; height: 97px; line-height: 12pt;}
.mes .replyForm .submit {padding: 5px 10px;}

/*conversation*/
.mes .conv {margin: 20px 0 0 0;}

/*pop up list*/
.mes .popUp .list {max-height: 434px; overflow: auto;}
.mes .popUp .list .itm .name {margin: 10px 0 0 0; cursor: pointer;}

/*---interface---*/
.iface .bs_b {background-image: url(../img/bg/bs_bg.png); background-repeat: no-repeat; background-position: left center;}
.iface .bs_b .btext {position: absolute; color: #FFFFFF; font-weight: bold; left: 0px; top: 0px; right: 0px; bottom: 0px; padding: 7px 0 0 20px;}
.iface .bs_b .btext:hover {color: #000000;}

.iface .rB .status {font-weight: bold; font-size: 9pt; text-align: justify; background: url(../img/icons/status.png) no-repeat top left; padding: 0 0 0 30px;}
.iface .rB .status span {vertical-align: middle; color: #8339aa;}
.iface .rB .comstat span {vertical-align: middle; color: #a7c41f;}
.iface .rB .statAdd {margin: 5px 0 0 0; position: relative;}
.iface .rB .statAdd .input {margin: 0;}
.iface .rB .statAdd .input label {display: none;}
.iface .rB .statAdd .input input {width: 400px; height: 24px; border: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.iface .rB .statAdd .def {position: absolute; top: 3px; left: 1px; color: #565656;}
.iface .rB .statAdd .submit {position: absolute; top: 0px; right: 0px;}
.iface .rB .statAdd .submit input {background: #8339aa; width: 70px; color: #FFFFFF; font-weight: bold; text-align: center; border: none; height: 24px;}
.iface .rB .comstat .submit input {background: #a7c41f;}
.iface .rB .statAdd .submit input:hover {color: #000000;}
/*.iface .rB .lnk {color: #FFFFFF; font-weight: bold; display: block; margin: -4px; padding: 4px;}*/
.iface .rB .name {text-align: center; font-weight: bold;}
.iface .rB .avatar {text-align: center; margin: 10px 0 25px 0;}

.iface .rB .ctit {text-align: center; color: #FFFFFF; font-weight: bold;}

/*-pub-*/
.headline {margin: 10px 0; border: 1px solid #eaf1f4; background: url(../img/bg/headlineBg.png) repeat-x top #fefefe; padding: 2px 0 2px 10px; font-weight: bold;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.hlV {background: #8339aa; border: none; color: #FFFFFF;} 
.hlG {background: #a7c41f; border: none; color: #FFFFFF;}
.hlB {background: #469cca; border: none; color: #FFFFFF;}
.hlIn {margin: 0 0 10px 0;}
.hlL {display: block;}
.hlL:hover {background: #8339aa;}   
.headlineP {margin: 0 0 10px 0; font-weight: bold; color: #565656;}

.iface .error-message {color: #f26822;}
.noData {color: #565656; font-size: 9pt;}

.edtL {margin: 10px 0 0 0; text-align: right; color: #469dca; cursor: pointer; font-size: 9pt; font-weight: bold;}
.edtL a {color: #469dca; background: #E1EFF6; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; padding: 0 4px;}
.edtL a:hover {color: #000000;}

/*-modules-*/
.iface .mod {position: relative; margin: 0 0 10px 0;}

.modP {position: relative; padding: 10px; margin: 10px 0; background: #e6ecf0;}
.modP .sep {margin: 0 0 10px 0;height: 1px; background: #ffffff;}
.modP .edtL a {color: #ffffff; background: #8eb60f;}
.modP .edtL a:hover {color: #000000;}
.modPB {background: #FFFFFF; border: 1px solid #e6ecf0;}

.iface .compI {position: relative; margin: 0 0 4px 0; border-bottom: none; width: 240px; cursor: pointer;}
.iface .compI:hover {background: #d8d8d8;}
.iface .compI .thumb {float: left; width: 50px; text-align: center; padding: 3px 0 0 0; border: 1px solid #e2e2e2; background: #FFFFFF; margin: 0 8px 0 0;}
.iface .compI .info {float: left; width: 180px;}
.iface .compI .id {display: none;}
.iface .compI .name {color: #469dca;}
.iface .compI .sector {line-height: 10pt; padding: 0 0 3px 0;}
.iface .compI .loc {font-weight: bold; color: #8fb124; font-size: 9pt;}

.iface .comName {background: #469dca; text-align: center; padding: 5px 0; color: #FFFFFF; font-weight: bold; font-size: 9.5pt; display: block;}
.iface .comName:hover {background: #8339aa;}
.iface .logo .logImg {position: relative; margin: 20px 0 0 27px; width: 180px; height: 180px; background: #FFFFFF; padding: 3px;}
.iface .logo .foto {width: 180px; height: 180px; background-position: center center; background-repeat: no-repeat;}
.iface .logo .logImg .onf {position: absolute; top: 0px; right: 0px;}
.iface .pLeft .logo .logImg {margin: 20px 0 0 17px;}

.iface .s_conn {position: relative; margin: 10px 0 0 0;}
.iface .s_conn .input label {display: none;}
.iface .s_conn .input input {height: 22px; width: 238px; border: 1px solid #469dca; color: #9d9c9c;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.iface .s_conn .submit {position: absolute; top: 1px; right: 2px; width: 22px; height: 22px;} 
.iface .s_conn .submit input {width: 22px; height: 22px; background: url(../img/icons/loupeMin.png) no-repeat top;}

.iface .recom {cursor: pointer;} .iface .recom:hover .r_bub {display: block;}

.iface .r_bub {position: relative; margin: 15px 0 0 0; padding: 5px; background: #8339aa; text-align: justify; font-weight: bold; color: #ffffff; font-size: 9pt; line-height: 10pt; overflow: visible;}
.iface .r_bub .arr {position: absolute; top: -10px; right: 20px;}
.iface .r_bub:hover {background: #469dca;} .iface .r_bub:hover .nrm {display: none;} .iface .r_bub:hover .hov {display: block;}

.iface .colls .coll {position: relative; margin: 2px; padding: 3px; width: 68px; height: 68px; text-align: center; vertical-align: top; display: inline-block; border: 1px solid #e2e2e2; background: #FFFFFF;}
.iface .colls .coll .foto {width: 68px; height: 68px; background-position: center center; background-repeat: no-repeat;}
.iface .colls .coll .onf {position: absolute; top: 1px; right: 1px; z-index: 2;} 
.iface .colls .coll .hov {display: none; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; padding: 2px; border: 1px solid #469dca; background: url(../img/bg/w_blank.png) repeat; z-index: 10;}                                                            
.iface .colls .coll:hover .hov {display: block;}
.iface .colls .coll .name {font-size: 9pt;}

.iface .cInfos .inf {padding: 5px 5px; margin: 0 0 5px 0; border: 1px solid #eaf1f4; background: url(../img/bg/headlineBg.png) repeat-x top #fefefe;}
.iface .cInfos .inf img {vertical-align: middle; margin: 0 7px 0 0; float: left; display: block;}
.iface .cInfos .inf span {vertical-align: middle; padding: 3px 0 0 0; color: #999999; font-weight: bold; font-size: 9pt; line-height: 10pt; display: block; float: left; width: 176px;}
.iface .cInfos .loc img {display: inline-block; float: none;}
.iface .cInfos .loc span {vertical-align: middle; color: #469dca; font-weight: bold; display: inline-block; float: none; width: auto;}
.iface .cInfos .regnum span {font-weight: bold; color: #8fb124;}
.iface .cInfos .proregnum {background: #8fb124;}
.iface .cInfos .proregnum span {font-weight: bold; color: #FFFFFF;}
.iface .cInfos .noregnum {background: #FF0000;}
.iface .cInfos .noregnum span {font-weight: bold; color: #FFFFFF;}

.iface .albums {margin: 10px 0 0 0;}
.iface .albums .fotos .itm {position: relative; vertical-align: middle; display: inline-block; width: 150px; height: 150px; padding: 3px; margin: 2px; background: #469CCA;}
.iface .albums .fotos .itm .foto {width: 150px; height: 150px; background-position: center center; background-repeat: no-repeat;}
.iface .albums .fotos .itm .name {display: none; position: absolute; top: 1px; left: 1px; right: 1px; bottom: 1px; padding: 2px 0; text-align: center; padding: 70px 0 0 0; font-weight: bold; color: #000000; background: url(../img/bg/w_blank.png) repeat;}
.iface .albums .fotos .itm:hover .name {display: block;}

.iface .onof {position: absolute; top: -2px; right: 5px; width: 69px; text-align: center; color: #FFFFFF; font-weight: bold; height: 22px;}
.iface .online {background: url(../img/bg/online.png) no-repeat top;}
.iface .offline {background: url(../img/bg/offline.png) no-repeat top;}

.iface .inds .it {position: relative; overflow: visible; width: 70px; margin: 10px 10px 0 2px; padding: 0 10px; display: inline-block; vertical-align: top;}
.iface .inds .it .t {color: #FFFFFF; font-weight: bold; display: inline-block; height: 23px; padding: 4px 0 0 0;}
.iface .inds .it .l {position: absolute; top: 0px; left: -2px; width: 2px; height: 27px; display: block;}
.iface .inds .it .r {position: absolute; top: 0px; right: -2px; width: 2px; height: 27px; display: block;}
.iface .inds .it .a {position: absolute; top: -7px; left: 7px; width: 10px; height: 7px; display: block;}
.iface .inds .it .b {position: absolute; top: -5px; right: 3px; width: 15px; height: 16px; display: block; z-index: 2;}

/*.iface .acts {margin: 5px 0;} */
.iface .acts .it {width: 192px; font-size: 9pt; margin: 10px 4px 0 4px; padding: 0;}
.iface .acts .it .t {display: block; height: 18px; padding: 4px 10px 5px 10px; cursor: pointer;}
.iface .acts .it .t img, .iface .acts .it .t span {vertical-align: middle;} 
.iface .acts .it .wi {margin: 0 10px 0 0;}
.iface .acts .it:hover .t {color: #000000; box-shadow: 0 1px 1px #888888, 0 -1px 1px #888888;}
.iface .acts .bt {margin: 5px 0; padding: 0 10px; text-align: right;}
.iface .acts .bt a {color: #FFFFFF; background: #f46d29; font-size: 9pt; display: inline-block; padding: 0 5px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.iface .acts .bt a:hover {background: #8339aa;}

.iface .inds .ge_ind {background: url(../img/bg/ge_ind.png) repeat-x top;}
.iface .inds .ge_ind .l {background: url(../img/bg/ge_indS.png) no-repeat top left;}
.iface .inds .ge_ind .r {background: url(../img/bg/ge_indS.png) no-repeat top right;}
.iface .inds .ge_ind .a {background: url(../img/bg/ge_indA.png) no-repeat top;}
.iface .inds .ge_ind .b {background: url(../img/bg/ge_indB.png) no-repeat top;}

.iface .inds .bl_ind {background: url(../img/bg/bl_ind.png) repeat-x top;}
.iface .inds .bl_ind .l {background: url(../img/bg/bl_indS.png) no-repeat top left;}
.iface .inds .bl_ind .r {background: url(../img/bg/bl_indS.png) no-repeat top right;}
.iface .inds .bl_ind .a {background: url(../img/bg/bl_indA.png) no-repeat top;}
.iface .inds .bl_ind .b {background: url(../img/bg/bl_indB.png) no-repeat top;}

.iface .inds .vi_ind {background: url(../img/bg/vi_ind.png) repeat-x top;}
.iface .inds .vi_ind .l {background: url(../img/bg/vi_indS.png) no-repeat top left;}
.iface .inds .vi_ind .r {background: url(../img/bg/vi_indS.png) no-repeat top right;}
.iface .inds .vi_ind .a {background: url(../img/bg/vi_indA.png) no-repeat top;}
.iface .inds .vi_ind .b {background: url(../img/bg/vi_indB.png) no-repeat top;}

.iface .docs .doc {margin: 10px 0 0 0;}
.iface .docs .doc .name {color: #469dca; font-weight: bold; text-decoration: underline;}
.iface .docs .doc .name img {margin: 0 5px 0 0;}
.iface .docs .doc .dsc {margin: 3px 0 0 0; color: #565656; font-size: 9pt; line-height: 10pt;}

.iface .ratingBlk {position: relative; height: 20px; margin: 3px 0 0 0; overflow: visible;}
.iface .ratingBlk .ratBot {position: absolute; left: 30px; top: 0px; width: 100px; height: 19px; background: #FFFFFF; overflow: visible;}
.iface .ratingBlk .ratBot .line {height: 19px; background: #c7ea46; background: url(../img/bg/lineBg.png) repeat-x top;}
.iface .ratingBlk .ratBot .mask {position: absolute; left: 0px; top: 0px; width: 100px; height: 19px; background: url(../img/icons/star.gif) repeat-x top;}  
.iface .ratingBlk .value {position: absolute; top: 1px; left: 135px; color: #FFFFFF; font-weight: bold;}
.iface .ratingBlk .links {position: absolute; left: 0px; top: 0px; width: 100px; height: 19px; overflow: visible;}
.iface .ratingBlk .links .lnk {display: inline-block; width: 20px; height: 19px; overflow: visible; position: relative;}
.iface .ratingBlk .links .pop {display: none; position: absolute; top: -22px; left: -10px; background: #FFFFFF; width: 90px; height: 16px; color: #000000; font-size: 9pt; padding: 2px; text-align: center;}
.iface .ratingBlk .lnk:hover {background: url(../img/icons/starH.png) no-repeat top;}
.iface .ratingBlk .lnk:hover .pop {display: block;}

.iface .masInfo {position: relative; width: 100%; height: 100px;}
.iface .masInfo .bubi {position: absolute; overflow: visible; width: 90px; padding: 5px; top: 5px; left: 0px; line-height: 14pt; font-size: 9pt; text-align: center; color: #FFFFFF; font-weight: bold;}
.iface .masInfo .bubi .arr {position: absolute; right: -9px; bottom: 7px;}
.iface .masInfo .mas {position: absolute; bottom: 0px; right: 0px;}
.iface .negativeInd {margin: 10px 0 0 0; color: #FF0000; font-weight: bold;}

.iface .cons .tit {font-size: 10pt !important; font-weight: bold;}
.iface .cons .tit img {vertical-align: middle; margin: 0 5px 0 0 !important;}
.iface .cons .tit span {vertical-align: middle;}
.iface .cons .con {color: #469dca;}
.iface .cons .con img, .iface .cons .con span {vertical-align: middle;}
.iface .cons .con a {color: #469dca; text-decoration: underline;}

.iface .viewInd {border: 1px solid #EAF1F4; margin: 10px 0 0 0;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.iface .viewInd .topT {background: #EAF1F4; padding: 2px 0; text-align: center; font-size: 9pt; color: #565656; font-weight: bold;}
.iface .viewInd .count {text-align: center; padding: 12px 0; font-weight: bold; font-size: 10pt; color: #414141;}

.iface .conn {position: relative; background: #e6ecf0; margin: 0 0 10px 0; padding: 3px;}
.iface .conn:hover {background: #E3E3E3;}
.iface .conn .thumb {float: left; width: 60px; height: 60px; padding: 3px; background: #FFFFFF;}
.iface .conn .thumb .foto {width: 60px; height: 60px; background-position: center center; background-repeat: no-repeat;}
.iface .conn .info {float: left; width: 165px;}
.iface .conn .name {color: #469dca; font-size: 9pt; font-weight: bold; margin: 1px 0 0 0; background: url(../img/bg/connNameBg.png) no-repeat left center; padding: 0 0 0 13px;} 
.iface .conn .sector {line-height: 10pt; padding: 0 0 3px 0; padding: 3px 0 0 5px;}
.iface .conn .loc {color: #8fb124; font-size: 9pt; padding: 2px 0 0 5px;}

/*-feeds-*/
.iface .feed {position: relative; margin: 10px 0 0 0; padding: 0 0 5px 0; border-bottom: 1px solid #ffffff;}
.iface .feed .avat {width: 40px; height: 40px; padding: 2px; margin: 0 4px 0 0; background: #FFFFFF; float: left; text-align: center;}
.iface .feed .avat .foto {width: 40px; height: 40px; background-position: center center; background-repeat: no-repeat;}
.iface .feed .body {width: 630px; float: left;}
.iface .pCen .feed .body {width: 410px; float: left;}
.iface .feed span, .iface .feed img, .iface .feed a {vertical-align: middle;}
.iface .feed .comp {color: #8fb124; text-decoration: underline; font-weight: bold;}
.iface .feed .comp:hover {color: #000000;}
.iface .feed .user {color: #469dca; text-decoration: underline; font-weight: bold;}
.iface .feed .user:hover {color: #000000;}
.iface .feed .link {color: #469dca; text-decoration: underline;} 
.iface .feed .link:hover {color: #000000;} 
.iface .feed .text {color: #000000;}
.iface .feed .date {color: #565656; font-size: 9pt; position: absolute; top: 2px; right: 0px;}
.iface .feed .bst_buyer {color: #8fb124; font-weight: bold;}
.iface .feed .bst_seller {color: #469dca; font-weight: bold;}
.iface .feed .bst_trader {color: #8339aa; font-weight: bold;}
.iface .feed .fotos {margin: 10px 0 0 0;}
.iface .feed .fotos .foto {display: inline-block; margin: 0 5px 5px 0; padding: 2px; background: #FFFFFF;}
.iface .feed .recom {text-align: justify; margin: 5px 0 0 0; color: #8fb124; line-height: 10pt; padding: 0 0 2px 0;}
.iface .feed .rating {color: #8fb124; font-weight: bold;}
.iface .feed .negative {color: #FF0000; font-weight: bold;}
.iface .feed .sep {height: 3px; background: none; margin: 0;}

.iface .recomms .feed .date {position: static; font-size: 10pt;}

.iface .latDems .feed {margin: 5px 0 0 0;}
.iface .latDems .body {width: 580px;}
.iface .latDems .sector {font-weight: bold; font-size: 9pt;}

.profile .feed .bt {width: 310px;}

/*---user profile---*/
.uProf .uAvat .name {text-align: center; color: #469dca; font-weight: bold; font-size: 10pt; margin: 0 0 10px 0;}
.uProf .uAvat .avatar {position: relative; margin: 0 0 0 27px; width: 120px; height: 120px; background: #FFFFFF; padding: 3px;}
.uProf .uAvat .foto {width: 120px; height: 120px; background-position: center center; background-repeat: no-repeat;}
.uProf .uAvat .onf {position: absolute; top: 0px; right: 0px;}

.uProf .infs {margin: 10px 0 0 0;}
.uProf .infs .inf {margin: 2px 0 0 0;}
.uProf .infs .inf .at {font-weight: bold; color: #565656; font-size: 9pt;}
.uProf .infs .inf .ic {vertical-align: middle; margin: 0 5px 0 0;}
.uProf .infs .inf .vl {vertical-align: middle; color: #469dca; font-size: 9pt;}
.uProf .infs .inf .vl a {color: #469dca; text-decoration: underline;}
.uProf .infs .socm {margin: 10px 0 0 0;}
.uProf .infs .socm .soci {float: left; margin: 2px;}
.uProf .infs .socm .soci:hover {-webkit-box-shadow: 0 0 3px 1px #469DCA; -moz-box-shadow: 0 0 3px 1px #469DCA; box-shadow: 0 0 3px 1px #469DCA;}

.uProf .perI {width: 460px;}
.uProf .perI .it {margin: 0 0 20px 0; background: #FFFFFF; padding: 5px;}
.uProf .perI .lab {font-weight: bold; color: #8fb124; font-size: 9pt;}
.uProf .perI .int {color: #469dca; text-align: justify;}

/*---documents, connections request, interests---*/
.intNotice .bubi {position: relative; width: 500px; background: #E6ECF0; padding: 10px; margin: 20px 0 0 0; overflow: visible;}
.intNotice .bubA {position: absolute; top: 20px; right: -29px;}
.intNotice .bubM {position: absolute; top: 10px; right: -160px;}

.iCen .conReq {color: #FFFFFF; padding: 4px 10px; font-weight: bold; margin: 10px 0; display: inline-block;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.iCen .conReq:hover {background: #8339aa;}

.iCen .list .itm {position: relative; padding: 3px 0; border: 1px solid #E0E0E0; margin: 0 0 15px 0;}
.iCen .list .ovrf {overflow: visible;}
.iCen .list .itm .logo {position: relative; float: left; width: 70px; text-align: center;}
.iCen .list .itm .logo .onf {position: absolute; top: 3px; right: 7px;}
.iCen .list .itm .body {float: left; width: 390px;}
.iCen .list .itm .name {color: #469dca; font-weight: bold; text-decoration: underline;}
.iCen .list .itm .name:hover {color: #000000;}
.iCen .list .itm .loc {color: #8fb124; font-size: 9pt;}
.iCen .list .itm .btns {float: left; width: 238px; position: relative; min-height: 50px;}
.iCen .list .itm .btns .sends {float: left; width: 180px; padding: 2px 0 0 0;}
.iCen .list .itm .btns .sends .send {margin: 0 0 4px 0;}
.iCen .list .itm .btns .sends .it {color: #FFFFFF; padding: 2px 5px; font-weight: bold; font-size: 9pt;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.iCen .list .itm .btns .sends .it:hover {background: #8339aa;}
.iCen .list .itm .btns .rating {position: absolute; top: 0px; right: 0px; width: 40px; text-align: center; }
.iCen .list .itm .btns .rating .val {font-weight: bold; font-size: 9pt; margin: 2px 0 0 0; color: #8fb124;}
.iCen .list .itm .infs {width: 260px; float: left;}
.iCen .list .itm .infs .inf .at {font-weight: bold; color: #565656; font-size: 9pt;}
.iCen .list .itm .infs .inf .vl {color: #469dca; font-size: 9pt;}
.iCen .list .itm .docName {color: #469dca; font-weight: bold; text-decoration: underline; padding: 0 0 0 5px;}
.iCen .list .itm .docName:hover {color: #000000;}
.iCen .list .itm .dsc {font-size: 9pt; text-align: justify; margin: 5px 0 0 0; padding: 0 5px;}
.iCen .list .itm .del1 {top: 6px; right: 260px;}
.iCen .list .itm .del2 {top: 2px; right: 0px;}
.iCen .list .itm .priv {top: 2px; left: 470px;}

.iCen .list .bconn {position: relative; display: inline-block; vertical-align: top; margin: 4px; width: 124px; height: 124px; padding: 3px; border: 1px solid #469dca;}
.iCen .list .bconn .foto {width: 124px; height: 124px; background-position: center center; background-repeat: no-repeat;}
.iCen .list .bconn .onf {position: absolute; top: 2px; right: 2px;}
.iCen .list .bconn .hov {position: absolute; display: none; top: 3px; right: 3px; bottom: 3px; left: 3px; padding: 50px 0 0 0; text-align: center; font-weight: bold; background: url(../img/bg/w_blank.png) repeat; z-index: 10;}
.iCen .list .bconn .hov .job {font-weight: normal; font-size: 9pt; color: #8fb124;}
.iCen .list .bconn:hover .hov {display: block;}
.iCen .list .bconn .ia {position: absolute; width: 132px; left: 0px; top: 13px; text-align: center; font-size: 9pt; z-index: 100;}
.iCen .list .bconn .bt {display: none; position: absolute; width: 132px; left: 0px; bottom: 3px; text-align: center; z-index: 100;}
.iCen .list .bconn .sm {font-size: 9pt; padding: 0 3px; color: #FFFFFF;} 
.iCen .list .bconn .sm:hover {background: #8339aa;}
.iCen .list .bconn .del {display: none; top: 3px; right: 3px; z-index: 100;}
.iCen .list .bconn:hover .del {display: block;}
.iCen .list .bconn:hover .bt {display: block;}
.iCen .list .unact {background: #f7d2d2;} 

/*---albums---*/
.iCen .albums {margin: 10px 0 0 0 !important;}
.iCen .albums .itm {display: inline-block; margin: 0 3px 15px 3px; vertical-align: top; width: 163px;}
.iCen .albums .itm .pht {position: relative; background: #D0E1EA; border: 1px solid #469dca; padding: 3px;}
.iCen .albums .itm .foto {width: 155px; height: 120px; background-position: center center; background-repeat: no-repeat;}
.iCen .albums .itm .mini {position: absolute; bottom: 3px; right: 3px; width: 50px; height: 50px; padding: 1px; border: 1px solid #469dca; background: #FFFFFF;}
.iCen .albums .itm .mini .ft {width: 50px; height: 50px; background-position: center center; background-repeat: no-repeat;}
.iCen .albums .itm .del {display: none; top: 2px; right: 2px; z-index: 100;}
.iCen .albums .itm .inf {margin: 2px 0 0 0;}
.iCen .albums .itm .inf .name {font-size: 9pt; font-weight: bold; color: #000000;}
.iCen .albums .itm .inf .cnt {font-size: 9pt; color: #469dca;}
.iCen .albums .itm .inf .nm {font-size: 9pt; text-align: center;}
.iCen .albums .itm .pht:hover {border: 1px solid #000000;}
.iCen .albums .itm .pht:hover .mini {border: 1px solid #000000;}
.iCen .albums .itm .pht:hover .del {display: block;}
.iCen .albums .delA {position: relative; height: 20px; width: 100%; margin: 0 0 5px 0; overflow: visible;}
.iCen .albums .delA .del {right: 8px; background: #8339AA; color: #FFFFFF;}

/*---settings---*/
.setting .sLeft .menu {padding: 0 0 20px 0; border-right: 1px solid #53a4ce;}
.setting .sLeft .menu .sub {margin: 20px 0 0 0;}
.setting .sLeft .menu .mn {display: block; padding: 5px 0 5px 10px; color: #FFFFFF; font-weight: bold; margin: 2px 0 0 0; font-size: 9pt; cursor: pointer;
-moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px;}
.setting .sLeft .menu .mn:hover {color: #000000;}
.setting .sLeft .menu .ge_mn {background: #8fb124;}
.setting .sLeft .menu .bl_mn {background: #469dca;}
.setting .sLeft .menu .vi_mn {background: #8339aa;}
.setting .sLeft .menu .tit {text-align: right; font-size: 10pt !important; font-weight: bold; padding: 0 10px 0 0;}
.setting .sLeft .menu .tit img {vertical-align: middle; margin: 0 10px 0 0 !important;;}
.setting .sLeft .menu .tit span {vertical-align: middle;}

.setting .sRight .headline, .setting .sFull .headline {margin: 17px 0 0 0; font-size: 10pt; background: #469cca; border: none; color: #FFFFFF;}
.setting .form {margin: 10px 0 0 0; background: #f8f8f8; padding: 10px; border: 1px solid #edecec;}
.setting .form .blk {float: left; width: 349px;}
.setting .form .bblk {width: 678px; background: url(../img/bg/bblk_bg.png) no-repeat right center #edecec; margin: 15px 0 5px 0; padding: 5px 10px;}
.setting .form .bblk .link {display: inline-block; background: #469DCA; color: #FFFFFF; font-weight: bold; font-size: 9pt; padding: 2px 10px; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.setting .form .bblk .link:hover {background: #8339aa;}
.setting .form .bblk input {display: block; background: #469DCA; color: #FFFFFF; font-weight: bold; font-size: 9pt; padding: 2px 10px; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.setting .form .bblk input:hover {background: #8339aa;}
.setting .form .input {margin: 3px 0 0 0;}
.setting .form .input label {width: 140px; height: 20px; float: left; display: inline-block; color: #469dca; font-weight: bold; font-size: 9pt;}
.setting .form .input input {width: 180px; height: 18px; float: left; display: inline-block; border: 1px solid #edecec; font-size: 9pt; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.setting .form .input select {width: 183px; height: 20px; float: left; display: inline-block; border: 1px solid #edecec; font-size: 9pt; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}         
.setting .form .socl label {width: 119px;}
.setting .form .input .soci {display: inline-block; float: left; margin: 1px 5px 0 0;}
.setting .form .bigarea label {width: 690px;}
.setting .form .bigarea textarea {width: 696px; height: 100px; border: 1px solid #edecec; line-height: 12pt; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.setting .form .newsarea label {display: none;}
.setting .form .newsarea textarea {width: 696px; height: 300px; border: 1px solid #edecec; line-height: 12pt; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.setting .form .checkbox {position: relative;}
.setting .form .checkbox input {margin: 2px 10px 0 0; width: 13px; height: 13px; border: none;}
.setting .form .checkbox label {width: 300px;}
.setting .form .radio .radIt {width: 250px; background: #edecec; margin: 0 0 2px 0; padding: 2px 0;}
.setting .form .radio input {width: 20px; height: 18px; border: none; margin: 0 10px 0 0;}
.setting .form .radio label {color: #000000; width: 200px;}
.setting .form .phrs label {width: 80px;}
.setting .form .phrs input {width: 540px;}
.setting .form .phrs .phrTxt {font-size: 9pt;}
.setting .form .phrbblk {position: absolute; bottom: 1px; right: 12px; background: none; margin: 0; padding: 0; width: 50px;}
.setting .form .req label {font-weight: bold; color: #8fb124;}
.setting .form .double .input {float: left;}
.setting .form .double .code {width: 182px;}
.setting .form .double .code input {width: 40px;}
.setting .form .double .phone {width: 140px;}
.setting .form .double .phone label {display: none;}
.setting .form .double .phone input {width: 133px; margin: 0 0 0 5px;}
#passStrongEdit {width: 178px; height: 18px; margin: 4px 0 0 140px; padding: 0 0 0 4px; font-weight: bold; font-size: 9pt;}
.setting .form .date .sep {vertical-align: middle; float: left; display: inline-block; padding: 0 3px; color: #469dca; font-weight: bold;}
.setting .form .mult {background: #FFFFFF; margin: 10px 0 0 0; padding: 5px;}
.setting .form .mult .checkbox {float: left; width: 225px;}
.setting .form .mult .checkbox input {float: left; display: inline-block;}
.setting .form .mult .checkbox label {width: 200px; float: left; display: inline-block; color: #000000; font-size: 9pt;}
.setting .form .sectorBlk {position: relative;}
.setting .form .sectorBlk .resSec {margin: 3px 0 0 0; display: inline-block; color: #FFFFFF; font-weight: bold; line-height: 9pt; font-size: 8pt; padding: 2px 4px; cursor: pointer;}
.setting .form .sectorInput input {width: 320px;} 
.setting .form .sectorText {position: absolute; top: 20px; left: 0px;}
.setting .form .sectorText label {display: none;}
.setting .form .sectorText input {width: 320px;}
.setting .form .compSize {position: relative; overflow: visible;}
.setting .form .compSizeTextInput {position: absolute; top: 0px; left: 140px; margin: 0; cursor: default;}
.setting .form .compSizeTextInput label {display: none;}
.setting .form .compSizeTextInput input {width: 180px;}
.setting .form .compSize .options {display: none; position: absolute; top: 21px; left: 140px; width: 180px; border: 1px solid #469dca; background: #FFFFFF; cursor: default; z-index: 2;}
.setting .form .compSize .options div {padding: 1px 0 1px 3px;}
.setting .form .compSize .options div:hover {background: #469dca; color: #FFFFFF;}
.setting .form .compSize .arr {position: absolute; top: 0px; left: 305px; width: 17px; height: 20px;}
.setting .form .error-message {width: 340px;}
#dateEditDay {width: 43px; margin: 0 2px 0 0;} #dateEditMonth {width: 80px; margin: 0 2px 0 0;} #dateEditYear {width: 56px;}
#bdayDay {width: 43px; margin: 0 2px 0 0;} #bdayMonth {width: 80px; margin: 0 2px 0 0;} #bdayYear {width: 56px;}

.setting .form .title {color: #469dca; font-weight: bold; font-size: 9pt;}

/*-path-*/
.setting .path {margin: 10px 0 0 0; padding: 0 10px;}
.setting .path .it {color: #469dca; text-decoration: underline; font-size: 11pt;}
.setting .path .sep {color: #469dca;}

/*-avatar-*/
.setting .form .avatar {text-align: center; position: relative;}
.setting .form .avatar .photo {margin: 10px 0 0 0;}

/*-avatar-*/
.setting .form .accswi {padding: 40px;}
.setting .form .accswi .swi {display: inline-block; margin: 0 20px; width: 150px; padding: 5px 0; background: #FFFFFF; text-align: center; font-weight: bold; border: 1px solid #B2B2B2; cursor: pointer;}
.setting .form .accswi .swi:hover {border: 1px solid #000000;}
.setting .form .accswi .swi img {vertical-align: middle; margin: 0 10px 0 0;}
.setting .form .accswi .swi span {vertical-align: middle;}
.setting .form .accswi .act {border: 3px solid #469dca;}
.setting .form .accswi .act:hover {border: 3px solid #000000;}   

/*-list-*/
.setting .form .list {position: relative; padding: 3px 0; margin: 0 0 10px 0; background: #FFFFFF; border: 1px solid #EDECEC;}
.setting .form .list .img {text-align: center; float: left; padding: 0 5px; width: 50px;}
.setting .form .list .body {float: left; padding: 0 5px;}
.setting .form .list .date {vertical-align: middle; color: #000000; background: #E1EFF6; padding: 1px 5px; font-size: 8pt; line-height: 9pt; display: inline-block; margin: 0 10px 0 0;}
.setting .form .list .name {vertical-align: middle; color: #469dca; font-weight: bold; font-size: 9pt;}
.setting .form .list .link {vertical-align: middle; color: #469dca; font-weight: bold; text-decoration: underline;}
.setting .form .list .link:hover {color: #000000;}
.setting .form .list .ind {display: inline-block; color: #FFFFFF; font-weight: bold; line-height: 9pt; font-size: 8pt; padding: 2px 4px;}
.setting .form .list .col {float: left; padding: 0 10px 0 0; margin: 5px 0 0 0; width: 210px;}
.setting .form .list .col .it .at {float: left; font-size: 9pt; font-weight: bold; margin: 0 5px 0 0;}
.setting .form .list .col .it .vl {float: left; font-size: 9pt; color: #8fb124;}
.setting .form .list .col .it .vla {font-size: 9pt; text-decoration: underline; color: #469dca;}
.setting .form .list .btns {width: 150px;}
.setting .form .list .btns .bt {background: #909090; margin: 0 0 3px 0; display: inline-block; color: #FFFFFF; font-weight: bold; line-height: 9pt; font-size: 8pt; padding: 2px 4px; cursor: pointer;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.setting .form .list .col .bt:hover {background: #469dca;}
.setting .form .list .set {position: absolute; top: 20px; right: 3px; color: #FFFFFF; font-weight: bold; font-size: 9pt; padding: 2px 5px; 
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.setting .form .list .set:hover {background: #8339aa;}

.setting .form .list .more {width: 678px; margin: 10px 5px; padding: 10px 5px; background: #E1EFF6;}
.setting .form .list .more .it {margin: 0 0 10px 0; font-size: 9pt;}
.setting .form .list .more .it .lab {font-weight: bold;}       
.setting .form .list .more .it .int {color: #469DCA;}
.setting .form .list .more .it .at {font-weight: bold;}
.setting .form .list .more .it .vl {color: #469DCA;}
.setting .form .list .more .it .vl a {text-decoration: underline; color: #469DCA;} 

.setting .form .listA {margin: 0 0 10px 0; padding: 5px; text-align: center; font-weight: bold; display: block;}
.setting .form .geB {color: #8fb124; border: 1px solid #8EB60F; background: #e9f0d2;}
.setting .form .grB {color: #565656; border: 1px solid #565656; background: #dddddd;}    
.setting .form .listA:hover {color: #000000;}

.setting .form .list2 {float: left; width: 339px; margin: 0 5px 5px 5px;}
.setting .form .list2 .img {width: 60px;}
.setting .form .list2 .body {width: 279px;}

.setting .form .notic {padding: 5px; background: #FFFFFF; border: 1px solid #EDECEC; font-weight: bold; margin: 0 0 20px 0;}
.setting .form .notic .pck {color: #469DCA; text-decoration: underline; cursor: pointer;}

.setting .form .pckg {margin: 0 0 20px 0; background: #E1EFF6;}
.setting .form .pckg .name {background: #469dca; color: #FFFFFF; font-weight: bold; padding: 3px 10px;}
.setting .form .pckg .body {padding: 10px;}
.setting .form .pckg .body .dsc {min-height: 1px; padding: 0 20px 0 0;}
.setting .form .pckg .body .pay {margin: 10px 0 0 100px; background: #FFFFFF; width: 450px;}
.setting .form .pckg .body .pby {width: 200px; float: left; padding: 5px; text-align: center;}
.setting .form .pckg .body .prc {color: #469DCA; font-weight: bold; font-size: 12pt; text-align: center;}
.setting .form .pckg .body .val {font-weight: bold; text-align: center;}

.setting .packT {margin: 0 0 20px 0;}
.setting .packT .ln {border-bottom: 1px solid #cccccc;}
.setting .packT .iln {border: none; margin: 0 0 10px 0;}
.setting .packT .hd {font-weight: bold; color: #FFFFFF; border: none; margin: 0 0 10px 0;}
.setting .packT .ln .it {float: left; width: 230px; min-height: 1px; text-align: center; padding: 3px 5px; font-size: 9pt; line-height: 12pt; font-weight: bold;}
.setting .packT .hd .it {padding: 5px 5px; margin: 0 2px; width: 226px; font-size: 10pt;}
.setting .packT .ln .lf {width: 216px; margin: 4px 2px; text-align: left; background: #E6ECF0; font-size: 9pt; font-weight: bold; line-height: 11pt;}
.setting .packT .hd .lf {width: 216px; background: none;}

.setting .invI {position: relative; background: none !important; overflow: visible;}
.setting .invI .bub {position: absolute; top: 0px; left: 140px; min-height: 55px; color: #FFFFFF; padding: 5px; width: 200px; overflow: visible;}
.setting .invI .bubA {position: absolute; top: 40px; left: -10px;}
.setting .invI .curr {position: absolute; top: 80px; left: 140px; width: 250px; font-size: 10pt;}
.setting .packT .ln .inv .invForm {margin: 15px 0 0 0; background: #E6ECF0; padding: 5px;}
.setting .packT .ln .inv label {width: 55px; text-align: left;}
.setting .packT .ln .inv .input input {width: 160px; border: 1px solid #469DCA;}
.setting .packT .ln .inv .submit {margin: 5px 0 0 0;}
.setting .packT .ln .inv .submit input {display: inline-block; background: #469DCA; color: #FFFFFF; font-weight: bold; font-size: 9pt; padding: 2px 10px; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.setting .packT .ln .inv .submit input:hover {background: #8339aa;}
.setting .packT .ln .inv .error-message {text-align: left; width: 226px;}
.setting .packT .ln .inv .buy {font-weight: bold; color: #FFFFFF; display: inline-block; padding: 3px 10px; margin: 20px 0 0 0;}
.setting .packT .ln .inv .buy:hover {color: #000000;}
.setting .packT .warn {font-size: 9pt; color: #ffffff; font-weight: normal; margin: 0 10px 0 232px; padding: 2px 5px;}

/*---sites---*/
.site .sec {margin: 0 0 20px 0; text-align: justify; color: #435761; font-size: 11pt;}
.site .stit {margin: 0 0 20px 0; font-weight: bold; font-size: 11pt;}
.site .li {margin: 0 0 10px 0; font-size: 11pt; letter-spacing: -1px;}
.site .li img, .site .li span {vertical-align: middle;}
.site .pack {position: relative; padding: 10px 7px 10px 15px; background: #f0f0f0;}
.site .pack .sign {position: absolute; right: 20px; bottom: 20px;}
.site .text {margin: 20px 0 0 0;}
.site .text a {text-decoration: underline;}

.learn .tit {font-size: 14pt !important;}

/*---foot---*/
#rndB {position: absolute; top: 0px; right: 30px; z-index: 1;}
#foot .cen {width: 980px; height: 97px; margin: 0 auto; padding: 10px; position: relative;}
#foot .cen .mn {float: left; width: 800px;}
#foot .cen .mn a {color: #565656;}
#foot .cen .mn a:hover {color: #000000;}
#foot .cen .mn span {color: #565656;}
#foot .cen .cp {float: left; font-weight: bold; position: absolute; z-index: 2; top: 10px; right: 0px;}
#foot .cen .cr {position: absolute; bottom: 20px; left: 10px; font-size: 9pt;}
#foot .cen .cr a {color: #469dca; text-decoration: underline;}

/*---feedback---*/
#feedback {display: block; position: fixed; left: 0px; top: 150px; z-index: 1000;}
#feedback:hover .bI {display: block;}
#feedback:hover .vI {display: none;}

/*---social media---*/
#socm {position: fixed; right: -120px; top: 150px; z-index: 1000; width: 150px; height: 113px; cursor: pointer;}
#socm .tab {width: 30px; height: 113px; float: left; display: block;}
#socm .med {width: 120px; float: left; height: 113px; background: #50adde;}
#socm .med .blk {background: url(../img/bg/mainBg.png) repeat-x top #ffffff; padding: 7px 3px; margin: 9px 3px 0 0;}
#socm .fb, #socm .gp {margin: 0 0 10px 0;}

/*paginator*/
.pgn {text-align: center; margin: 20px 0; background: #F3F3F3;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pgn div {display: inline-block; margin: 10px 2px; padding: 2px 7px; background-color: #CCCCCC; color: #FFFFFF; font-weight: bold;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pgn .current {background-color: #469dca;}         
.pgn div a {color: #000000; text-decoration: none; display: inline-block; padding: 0px 5px; margin: 0px -5px;}
.pgn div:hover {background-color: #8339aa; color: #FFFFFF;}
.pgn div:hover a {color: #FFFFFF;}

/*path*/
.pth {margin: 0 0 15px 0;}
.pth .it {padding: 0 2px; color: #469dca; font-weight: bold;}
.pth .it:hover {color: #000000;}
.pth .hm {text-decoration: underline; color: #8fb124;}
.pth .lnk {text-decoration: underline;}
.pth .lst {color: #000000;}

/*---flash---*/
#flash {position: fixed; width: 400px; height: auto; left: 10px; top: 10px; padding: 3px 0px 3px 0px; color: #FFFFFF; text-align: center; z-index: 2000; cursor: pointer; font-size: 10pt; }
#flash .top {width: 400px; height: 10px; background: url(../img/bg/flashTop.png) no-repeat top;}
#flash .bot {width: 400px; height: 10px; background: url(../img/bg/flashBot.png) no-repeat top;}
#flash .con {width: 390px; padding: 0 5px; height: auto; background: url(../img/bg/flashCon.png) repeat-y top;}
#flash .con span {color: #4c94ce; font-size: 9pt;}

/*---ie6---*/
#ie6 {margin: 3px auto 0 auto; background: #ffbaba; border-bottom: 2px solid #ff4848; text-align: center;} 
#ie6 .tit {margin: 10px 5px; font-weight: bold; font-size: 12pt;}  
#ie6 a {margin: 10px 5px; display: inline-block;}
#ie6 a img {border: none;}                                                                                     