@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

a img {
	border:0
}


/* --------------------------- TOP NAV --------------------------- */

#topnav{
	background:#555;
	height:35px;	
}

#topnav-inner{
	width:1000px;
	margin:0px auto 0 auto;
	padding:10px 0 0 0;
	text-align:right;
	color:#fff;
}

#topnav-inner a{
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	
}


/* --------------------------- WRAP --------------------------- */


#outerwrap{
	width:1000px;
	margin:0px auto 0 auto;
}

#innerwrap{
	
}



/* --------------------------- HEADER - TOP --------------------------- */

#header{
	clear:both;
	height:170px;
}


#header-top{
	clear:both;
}

#logo{
	float:left;
	width:180px;
	margin:0 -180px 0 0;
}

#catsearch{
	float:right;	
	padding:25px 0 0 0;
}

.categorydrop{
	padding:10px;
}

.searchfield{
	margin:0 0 0 80px;
	padding:10px;
	width:250px;
}

.searchbutton{
	margin:0 0 0 10px;
	padding:10px;
	width:100px;
}


/* --------------------------- HEADER - NAV (logged-in) --------------------------- */

#header-nav{
	clear:both;
	padding:30px 0 0 0 ;
}

#header-nav-left{
	float:left;
}

#header-nav-right{
	float:right;
}

#header-nav-left a{
	text-decoration:none;
	padding:15px 20px 15px 20px;
	background:#ccc;
	color:#fff;
	margin:0;
	font-size:110%;
	font-weight:bold;
	border-top:1px solid #909090;
	border-bottom:1px solid #909090;
	border-left:1px solid #909090;
}

#header-nav-left a:hover{
	background:#b4b4b4;
	color:#fff;
}

#header-nav-right a{
	text-decoration:none;
	padding:15px 20px 15px 20px;
	color:#fff;
	margin:0;
	font-size:110%;
	font-weight:bold;
	width:390px;
}

#header-nav-right a.postdemands{
	background:#3e96c4;
	border-left:1px solid #0f5f85;
	border-top:1px solid #0f5f85;
	border-bottom:1px solid #0f5f85;
}

#header-nav-right a.postdemands:hover{
	background:#2e7092;
}

#header-nav-right a.postoffers{
	background:#6bb152;
	border:1px solid #2b612b;
	padding:15px 25px 15px 25px;
}

#header-nav-right a.postoffers:hover{
	background:#4d7f3b;
}


/* --------------------------- HEADER - INTRO --------------------------- */

#header-intro{
	clear:both;
	padding:20px 0 0 0 ;
}

#header-intro-left{
	float:left;
	background:url(../img/bg-header-intro-left.png) no-repeat top left;
	height:130px;
	width:680px;
}

#header-intro-right{
	float:right;
	width:310px;
	height:110px;
}

#header-intro-left-text{
	text-align:left;
	margin:25px 40px 15px 200px;
	font-size:200%;
	color:#333;
}

#header-intro-right a.header-intro-signupfree{
	text-decoration:none;
	background:#3e96c4;
	display:block;
	text-align:center;
	color:#fff;
	padding:14px 0 14px 0;
	margin:0 0 5px 0;
	font-size:200%;
	font-weight:bold;
	border:1px solid #0f5f85;
}

#header-intro-right a.header-intro-signupfree:hover{
	background:#2e7092;
}


#header-intro-right a.header-intro-features{
	text-decoration:none;
	background:#569a3f;
	display:block;
	text-align:center;
	color:#fff;
	padding:14px 0 13px 0;
	margin:0 0 5px 0;
	font-size:120%;
	font-weight:bold;
	border:1px solid #2b612b;
}

#header-intro-right a.header-intro-features:hover{
	background:#4d7f3b;
}





/* --------------------------- CONTENT - HOMEPAGE (public) --------------------------- */

#content.content-homepage{ 
	border-top:0px;
	
}

#homepage-offers{
	clear:both;
	margin:0 0 20px 0;
}

#homepage-offers-header{
	padding:12px 25px 12px 25px;
	margin: 0 0 0 10px;
	background:#569a3f;
	color:#fff;
	width:120px;
	text-align:center;
	font-weight:bold;
	font-size:120%;
}

#homepage-offers-items{
	border:1px #ddd solid;
}

#homepage-offers-items a img{
	
}


#homepage-demands{
	clear:both;
	margin:0 0 20px 0;
}

#homepage-demands-header{
	padding:12px 25px 12px 25px;
	margin: 0 0 0 10px;
	background:#3e96c4;
	color:#fff;
	width:120px;
	text-align:center;
	font-weight:bold;
	font-size:120%;
}

#homepage-demands-items{
	border:1px #ddd solid;
}

#homepage-demands-items a img{
	
}




/* --------------------------- CONTENT - HOMEPAGE (logged-in) --------------------------- */

#content{ 
	border-top:1px solid #bbb;
	clear:both;
}



/* --------------------------- CONTENT - LEFT (logged-in) --------------------------- */

#contentleft{ 
	float:left;
	width:650px;
	margin:0 -600px 0 0;
	border-right:1px solid #bbb;
}

#contentleft-inner{ 
	margin:15px 30px 30px 0;
}

#contentleft h1{ 
	font-size:160%;
	color:#555;
	border-bottom:1px solid #bbb;
	margin:0 0 25px 0;
	padding:0px 0 15px 0;
}



/* --------------------------- CONTENT - RIGHT (logged-in) --------------------------- */

#contentright{ 
	float:right;
	width:350px;
	margin:0 0px 0 0;
}


#contentright-inner{ 
	margin: 15px 0px 30px 30px;
}


#contentright h1{ 
	font-size:160%;
	color:#555;
	border-bottom:1px solid #bbb;
	margin:0 0 15px 0;
	padding:0px 0 15px 0;
}



/* --------------------------- NEWS FEED --------------------------- */


.newsfeed-company{
	border-bottom:1px solid #bbb;
	padding-bottom:25px;
	margin-bottom:25px;
	min-height:60px;
}

.newsfeed-company-logo{
	float:left;
	width:60px;
	height:60px;
}

.newsfeed-company-details{
	margin:0 0 0 80px;
}

.newsfeed-company-name{
	font-size:130%;
	font-weight:bold;
	color:#666;
	margin:0 0 5px 0;
}

.newsfeed-company-date{
	float:right;
	font-size:90%;
	color:#999;
}

.newsfeed-company-status{
	color:#666;
	margin:0 0 10px 0;
}


/* --------------------------- NEWS FEED - DEMAND --------------------------- */

.newsfeed-company-demand{
	background:#daf3ff;
	font-weight:bold;
	color:#666;
	padding:25px;
	margin:0 0 5px 0;
}

.newsfeed-company-demand-row{
	margin:10px 0 0 0 ;
}

.newsfeed-company-demand-item{
	width:100px;
	display:inline-block;
	margin:0 15px 0 0;
	font-weight:bold;
	font-size:90%;
	color:#666;
}

.newsfeed-company-demand-item img{
	margin:0 0 5px 0;
	width:100px;
	border:1px solid #daf3ff;
}

.newsfeed-company-demand-item a{
	text-decoration:none;
	color:#333;
}

.newsfeed-company-demand-item a:hover{
	color:#147fb3;
}

.newsfeed-company-demand-item:hover img{
	border:1px solid #147fb3;
}


.newsfeed-company-demand-item-more{
	width:60px;
	display:inline-block;
	vertical-align:top;
	
}

a.newsfeed-company-demand-item-more-link{
	display:block;
	text-decoration:none;
	padding:45px 13px 0 13px;
	height:57px;
	background:#9edcf9;
	color:#333
}

a.newsfeed-company-demand-item-more-link:hover{
	background:#147fb3;
	color:#fff
}

/* --------------------------- NEWS FEED - OFFER --------------------------- */



.newsfeed-company-offer{
	background:#e0ffc7;
	font-weight:bold;
	color:#666;
	padding:25px;
	margin:0 0 5px 0;
}

.newsfeed-company-offer-row{
	margin:10px 0 0 0 ;
}

.newsfeed-company-offer-item{
	width:100px;
	display:inline-block;
	margin:0 15px 0 0;
	font-weight:bold;
	font-size:90%;
	color:#666;
}

.newsfeed-company-offer-item img{
	margin:0 0 5px 0;
	width:100px;
	border:1px solid #daf3ff;
}

.newsfeed-company-offer-item a{
	text-decoration:none;
	color:#333;
}

.newsfeed-company-offer-item a:hover{
	color:#428d3d;
}

.newsfeed-company-offer-item:hover img{
	border:1px solid #428d3d;
}


.newsfeed-company-offer-item-more{
	width:60px;
	display:inline-block;
	vertical-align:top;
	
}

a.newsfeed-company-offer-item-more-link{
	display:block;
	text-decoration:none;
	padding:45px 13px 0 13px;
	height:57px;
	background:#a3e56e;
	color:#333
}

a.newsfeed-company-offer-item-more-link:hover{
	background:#428d3d;
	color:#fff
}



/* --------------------------- FOOTER --------------------------- */

#footer{
	background:#555;
	height:50px;
	clear:both;	
}

#footer-inner{
	width:1000px;
	margin:0px auto 0 auto;
	padding:10px 0 0 0;
	text-align:right;
	color:#fff;
}





/* --------------------------- TOOLTIP --------------------------- */


a.tt {
    display:inline-block;
    height:110px;
	margin:10px 0 10px 10px;
  }

.tooltip {
    display:none;
    background:#666;
    height:150px;
    width:310px;
    padding:15px 20px 15px 20px;
    font-size:11px;
    color:#fff;
  }

.tooltip img{
    float:left;
	margin:0 15px 10px 0;
  }

.tooltip .tt-text{
	font-size:105%;
	line-height:140%;
}