<?php
echo $this->element('belt_interface');
echo '<div id="main" class="pag dem"><div class="cen">';
    
   echo '<div class="dCen">';
   
   echo '<div class="modP rad5">';
      echo '<div class="list">';
         echo $html->div('headline hlB hlIn', __('Search results', true));
         
         if (!empty($demands)) {
            foreach ($demands as $demand) {             
               $cls = ''; $acc = '';
               if ($demand['Company']['Account']['id'] == 2) {
                  $cls = 'itmD1';
                  $acc = $html->div('ind blBg', $demand['Company']['Account']['name_'.$lang]);
               }
               if ($demand['Company']['Account']['id'] == 3) {
                  $cls = 'itmD2';
                  $acc = $html->div('ind viBg', $demand['Company']['Account']['name_'.$lang]);
               }
               echo '<div class="itm itmD '.$cls.'">';
                  if (empty($demand['Demand']['priceper_id']))                     
                     $dtitle = number_format($demand['Demand']['quantity']).' '.$demand['Unit']['name_'.$lang].'&nbsp;'.__('of', true).'&nbsp;'.$demand['Demand']['commodity'].'&nbsp;'.__('for', true).'&nbsp;'.$demand['Demand']['price'].' '.$demand['Currency']['name_'.$lang].'&nbsp;'.__('is needed.', true);
                  else
                     $dtitle = number_format($demand['Demand']['quantity']).' '.$demand['Unit']['name_'.$lang].'&nbsp;'.__('of', true).'&nbsp;'.$demand['Demand']['commodity'].'&nbsp;'.__('for', true).'&nbsp;'.$demand['Demand']['price'].' '.$demand['Currency']['name_'.$lang].'/'.$demand['Priceper']['name_'.$lang].'&nbsp;'.__('is needed.', true);
                  if ($lang == 'ja')
                     $dtitle = number_format($demand['Demand']['quantity']).' '.$demand['Unit']['name_ja'].'  の '.$demand['Demand']['commodity'].' を 1 '.$demand['Unit']['name_ja'].' '.$demand['Demand']['price'].' '.$demand['Currency']['name_ja'].' で  探しています';                 
                  echo $html->link($dtitle, array('controller' => 'demands', 'action' => 'view', $demand['Demand']['id'], $dtitle), array('class' => 'name', 'escape' => false));
                  echo $html->div('cat', $demand['Sector']['name_'.$lang]);
                  echo $html->div('loc', $html->image('flags/'.$demand['Country']['id'].'.png', array('class' => 'iL')).$html->tag('span', $demand['Country']['name_'.$lang], array('class' => 'ge ital')));            
                  echo '<div class="comp">';
                     echo $html->tag('span', date('d.m.Y', strtotime($demand['Demand']['valid_from'])).' - '.date('d.m.Y', strtotime($demand['Demand']['valid_to'])), array('class' => 'bl')).'&nbsp;';
                     if (!empty($company) && $company['Company']['account_id'] == 3 || !empty($demand['Connected']))
                        echo $html->tag('span', __('by', true).':', array('class' => 'gr')).'&nbsp;'.$html->link($demand['Company']['name'], array('controller' => 'companies', 'action' => 'view', $demand['Company']['id']), array('class' => 'name'));  
                  echo '</div>';
                  echo $acc;
               echo '</div>';
            }
         }
         else
            echo $html->div('noData', __('No demands matching your selected criteria were found', true));
      
         
      echo '</div>';
      echo '</div>';
      
      if (!empty($demands)) {
         echo '<div class="pgn">';
            echo $paginator->first('<<', array('tag' => 'div')).$paginator->numbers(array('separator' => '', 'modulus' => '10', 'tag' => 'div')).$paginator->last('>>', array('tag' => 'div'));   
         echo '</div>';
      }
      
   echo '</div>';
   echo '<div class="dRight">';
           
     if($session->check('Auth.User')) { 
        if ($company['Company']['type_id'] != 2)
           echo $html->link($html->image('icons/w_new.png', array('class' => 'iL10')).$html->tag('span', __('Post a new demand', true)), array('controller' => 'demands', 'action' => 'add'), array('class' => 'addB', 'escape' => false));
        
        echo '<div class="mMn">';
           if ($company['Company']['type_id'] != 2)
                echo $html->link($html->image('icons/bl_demands.png', array('class' => 'iL10')).$html->tag('span', __('Your posted demands', true)), array('controller' => 'demands', 'action' => 'index', 'added'), array('class' => 'it', 'escape' => false));
            echo $html->link($html->image('icons/bl_demands.png', array('class' => 'iL10')).$html->tag('span', __('Latest demands of your interest', true)), array('controller' => 'demands', 'action' => 'index', 'latests'), array('class' => 'it', 'escape' => false));  
            echo $html->link($html->image('icons/bl_demands.png', array('class' => 'iL10')).$html->tag('span', __('All latest demands', true)), array('controller' => 'demands', 'action' => 'index', 'all'), array('class' => 'it', 'escape' => false));
        echo '</div>';       
      }
                 
      echo $this->element('demand_search_form');
   
   echo '</div>';

   
echo '</div></div>';
?>