/* This file is part of BBClone (A PHP based Web Counter on Steroids)
 * 
 * CVS FILE $Id: default.css,v 1.6 2010/12/31 23:00:28 joku Exp $
 *  
 * Copyright (C) 2001-2011, the BBClone Team (see doc/authors.txt for details)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * See doc/copying.txt for details
 */

/* Body Styles */
body {
margin: 0px;
padding: 0px;
background-color: #edf0f9}

/* Table Styles */
table {
border-collapse: collapse}

/* Table Center Styles */
table.center {
margin: auto;
white-space: nowrap}

/* Table Center Data Styles */
table.centerdata {
width: 100%;
margin: auto;
white-space: nowrap}

/* Table-data Styles */
td {
font-family: Arial, Helvetica, sans-serif;
color: #606680;
font-size: 8pt}

/* Table-data Styles with cellspacing=margin and cellpadding=padding */
td.padding {
margin: 0px;
padding: 10px}

/* Table-data Styles with Top alignment */
td.top {
vertical-align: top}

/* Table-data Styles with cellspacing=nomargin and cellpadding=nopadding */
td.nopadding {
margin: 0px;
padding: 0px}

/* Paragraph Center Styles */
p {
font-family: Arial, Helvetica, sans-serif;
color: #606680;
font-size: 8pt;
text-align: center;
vertical-align: middle}

/* Input Styles */
input {
border: 1px #606680 solid;
background-color: #edf0f9;
vertical-align: middle}

/* Select Styles */
select {
border: 1px #606680 solid;
background-color: #edf0f9;
vertical-align: middle}

/* Link Styles */
a {
text-decoration: none;
color: #cc7286}
a:hover {
text-decoration: none;
color: #606680}

/* Navigation Bar Button Styles */
a.navbar {
font-family: Arial, Helvetica, Sans-serif;
font-size: 9pt;
font-weight: bold;
text-decoration: none;
padding: 3px;
color: #606680}
a.navbar:hover {
font-family: Arial, Helvetica, Sans-serif;
font-size: 9pt;
font-weight: bold;
text-decoration: none;
padding: 2px;
border: 1px solid #606680;
background-color: #edf0f9}
a.selected {
color: #cc0033}

/* Navigation Images Styles */
.navbar img {
border: 0px;
height: 14px;
width: 14px;
vertical-align: middle}

.navbar {
font-family: Arial, Helvetica, Sans-serif;
font-size: 9pt;
color: #98a3d1;
font-weight: bold;
margin: 0px;
padding: 10px;
height: 30px;
background-color: #c0cbeb;
width: 100%;
text-align: center;
vertical-align: middle}

bottom.navbar {
border-style: solid none;
border-width: 1px;
border-color: #606680}

/* Titlebar Styles */
.titlebar {
width: 100%;
background-color: #808ebf;
border-style: solid none;
border-width: 1px;
border-color: #606680}

/* Title Styles */
.title {
font-family: Arial, Helvetica, Sans-serif;
color: #ffffff;
font-weight: bold;
font-size: 14pt;
height: 35px;
width: 100%;
vertical-align: middle;
text-align: center}

/* Loadtime Styles */
.loadtime {
font-family: Arial, Helvetica, sans-serif;
color: #606680;
font-size: 6pt;
text-align: center}

/* Image Styles for icon */
.icon {
border-style: none;
height: 14px;
width: 14px;
padding: 0px;
vertical-align: middle}

/* Image Styles for Valid icon */
.validicon {
border-style: none;
height: 15px;
width: 80px;
vertical-align: middle}

/* Image Styles for Valid  Tidy icon */
.validtidy {
border-style: none;
height: 15px;
width: 37px;
vertical-align: middle}

/* Label Styles */
.label {
font-family: Arial, Helvetica, Sans-serif;
font-size: 8pt;
text-align: center;
font-weight: bold;
padding: 3px;
white-space: nowrap}

/* Label Graph-ydata (on y-as) Styles */
.label-graph-ydata {
font-family: Arial, Helvetica, Sans-serif;
color: #606680;
font-size: 7pt;
text-align: center;
padding: 3px}

/* Label Graph-xdata (on x-as) Styles */
.label-graph-xdata {
font-family: Arial, Helvetica, Sans-serif;
font-weight: bold;
color: #ffffff;
font-size: 8pt;
height: 15px;
text-align: center;
white-space: nowrap}

/* Center Box Styles */
.centerbox {
width: 100%;
background-color:#ffffff;
border: 1px #606680 solid}

/* Label Box Styles */
.labelbox {
background-color:#ffffff;
border: 1px #606680;
border-style: solid none}

/* Graph-Background Styles */
.graph-background {
background-color:#e5f2f7}

/* Column Styles for Time Stats */
.column {
background-color:#c0cbeb}

/* Column Styles for Weekends */
.weekend-column {
background-color:#9eaace}

/* Top Column Style fot the Time Stats */
.top-column {
border-width: 1px;
border-color: #e5f2f7;
text-align: center;
vertical-align:bottom}

.cntbox {
background-color:#ffffff;
border: 1px #606680 solid}

.gridbox {
margin: 0px;
border: 1px #606680 solid}

.bottombox {
background-color:#808ebf;
}

.brd {
border-width: 1px;
border-color: #606680}

.collapse {
border-collapse: collapse}

/* Cell Styles */
.cell {
margin: 0px;
border: 1px #ffffff solid}

/* Top Vertical Alignment Styles */
.valigntop {
vertical-align: top}

.sky {
border-width: 1px;
border-color: #e5f2f7;
vertical-align:bottom}

/* Color Styles for lessthan */
.lessthan_row {
background-color: #e5f2f7}

/* Color Styles for morethan */
.morethan_row {
background-color: #e0e5f2}

/* Color Styles for robot */
.robot_row {
background-color: #efe2ec}

/* Color Styles for my_visit */
.my_visit_row {
background-color: #feefd0}

/* White Hover Color Styles */
.hover_white:hover {
background-color: #ffffff}

/* Bar Hover Color Styles */
.hover_bar:hover {
background-color: #e5f2f7;
border: 0px
}
td.graphbar {
background-color: #c0cbeb;
border-style: solid none;
border-width: 0px
}
/* Wrap Style (for long text) */
.text-wrap {
white-space: normal}

/* Config Cell Styles */
.config-cell {
padding: 7px;
margin: 0px;
border: 1px #ffffff solid}

/* Avarage-line (graph-line) */
.graph-line {
border-bottom: 1px dashed #f08c8c;
margin: 0px;
padding: 0px;
background: transparent none repeat scroll 0% 0%;
position: relative}