<?php 
echo $html->link($html->image('http://'.$_SERVER['HTTP_HOST'].'/img/logoBeta.png'), 'http://www.ezbizi.com', array('escape' => false));
echo '<br />';
echo '<br />';
if ($lang == 'ja') {
   echo $html->div('blue', '招待状は一度だけで、2度送信されることはありません！', array('style' => 'color:blue'));
   echo '<br />';
   echo $html->div('normal', 'こんにちは,'.$mes_data['User']['title'].' '.$mes_data['User']['first_name'].' '.$mes_data['User']['middle_name'].' '.$mes_data['User']['last_name'].'様にインターナショナルなビジネスコミュニティーEzbiziの入会招待状が届いています。');
   echo '<br />';
   echo $html->link($html->image('http://'.$_SERVER['HTTP_HOST'].'/img/bg/mail_signup.png'), 'http://'.$_SERVER['HTTP_HOST'].$html->url(array('controller' => 'users', 'action' => 'register')), array('escape' => false));
   echo '<br />';
   echo '<br />';
   echo $html->div('blue', '弊社、Ezbiziとは？', array('style' => 'color:blue'));
   echo '<br />';                                                                                  
   echo $html->div('normal', 'Ezbiziは新しい次世代型bzbネットワーキングコミュニティーであり、あなたの会社を簡単に新しいビジネスへと繋ぎ、セールスの増進、また新たなサプライヤーとの出会い、ネットワークの維持などの手助けを致します。あなたのビジネスをEzibiziでスマートで活気づけましょう！');
   echo '<br />';
   echo $html->div('normal', 'あなたがEzbiziでできること：', array('style' => 'color:blue'));
   echo '<br />';
   echo '<div>';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' 検索とワールドワイドなお探し品の何千もの入札</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' 数千のサプライヤーとソリューションプロバイダーから瞬時な応答を得るためにあなたのお探し品を投稿</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' あなたのネットワークを築き、新たなコネクションを作り、そして数千もの登録ユーザー、企業との交友を維持</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' ネットワークニュースを通し、あなたのコネクションの最新のビジネスのアップデート情報を即時にゲット</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' あなたの会社の皆様のネットワークを向上させることにより、社内のコミュニケーション、チームを一丸とさせるのに効果的にマネイジメント</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' インターナショナルなビジネスコミュニティーの一部となり、無駄な時間を使わずに、関連のあるセールスに繋ぎます</div>';
      echo '<br />';                                                                        
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' 全会員様の安全性は弊社が最も優先していることであり、Ezbiziは優れた機能で不正行為や詐欺を検出し、全会員様の手助けを致します</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' 今すぐEzbiziに参加し、どんどん弊社をご利用して、利益を得て下さい。これら全てのサービスは無料です！</div>';
   echo '</div>';
   echo '<br />';
   echo 'あなたが不利益になることはなにもございません。躊躇わず、今すぐEzbiziにご登録を！';
}
else {
   echo $html->div('blue', 'This is a one time only invitation and it won\'t be sent to you repeatedly!', array('style' => 'color:blue'));
   echo '<br />';
   echo $html->div('normal', 'Hi, '.$mes_data['User']['title'].' '.$mes_data['User']['first_name'].' '.$mes_data['User']['middle_name'].' '.$mes_data['User']['last_name'].' has invited by to join them in a bustling international business community of Ezbizi Beta!');
   echo '<br />';
   echo $html->link($html->image('http://'.$_SERVER['HTTP_HOST'].'/img/bg/mail_signup.png'), 'http://'.$_SERVER['HTTP_HOST'].$html->url(array('controller' => 'users', 'action' => 'register')), array('escape' => false));
   echo '<br />';
   echo '<br />';
   echo $html->div('blue', 'In case you are wondering about who we are?', array('style' => 'color:blue'));
   echo '<br />';                                                                                  
   echo $html->div('normal', 'Ezbizi is a new generation b2b networking community, designed to help companies easily generate new business leads, increase their sales, find new suppliers, maintain their network and much more. Be smart and boost your business with us!');
   echo '<br />';
   echo $html->div('normal', 'Ezbizi enables you to:', array('style' => 'color:blue'));
   echo '<br />';
   echo '<div>';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' Search and bid for thousands of demands worldwide</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' Post your demand to get a fast response from thousands of suppliers and solution providers</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' Build your network, make new connections and maintain relationships with thousands of registered companies</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' Get a first hand information about the latest business updates directly from your connections trough the network news-feed</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' Effectively manage your internal communications and strengthen the team spirit by improving the internal network of your employees</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' Be a part of a bustling international business community, save your time, generate the relevant sales leads and grow your business by targeting the right companies</div>';
      echo '<br />';                                                                        
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' Transparency and safety of our subscribers is our highest priority and we designed Ezbizi with clever features to help you detect and mitigate the risk of frauds and scams</div>';
      echo '<br />';
      echo '<div>'.$html->image('http://'.$_SERVER['HTTP_HOST'].'/img/icons/bpoint.png').' By joining us now benefit from all the above and much more. Most importantly get all of this for free!</div>';
   echo '</div>';
   echo '<br />';
   echo 'You have nothing to loose, so don\'t hesitate and join us now!';
}
echo '<br />';
echo '<br />';
echo $html->link($html->image('http://'.$_SERVER['HTTP_HOST'].'/img/bg/mail_signup.png'), 'http://'.$_SERVER['HTTP_HOST'].$html->url(array('controller' => 'users', 'action' => 'register')), array('escape' => false));
echo '<br />';
echo '<br />';
echo $html->div('normal', 'Best regards,');
echo '<br />';
echo $html->div('normal', 'The Ezbizi Team');
echo '<br />'; 
echo $html->link('Feedback', 'http://'.$_SERVER['HTTP_HOST'].$html->url(array('controller' => 'users', 'action' => 'contact')));
echo '<br />';
echo $html->link('www.ezbizi.com', 'http://www.ezbizi.com');
?>