<?php
echo $this->element('belt_interface');
echo '<div id="main" class="site"><div class="cen">';

   echo $html->div('tit', $html->tag('h1', $site['Site']['name_'.$lang]));
   
   echo $html->div('text', $site['Site']['text_'.$lang]);
   
echo '</div></div>';
?>